@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.dropbtn a {
    color: #282d32;
}

.dropbtn a:hover {
    color: #FF4500;
}

.scroll-progress-container {
    background-color: #eee;
}

.about_us_container {
    margin-top: 100px;
}

.company_profile {
    padding-inline: 5%;
    padding-block: 100px;
    background-color: #F9F9F9;
}

.profile_header h3 {
    font-family: poppins;
    font-size: 64px;
    font-weight: bold;
}

.profile_infos {
    margin-top: 50px;
}

.profile_infos ul {
    list-style-type: none;
}

.info_title {
    width: 150px;
}

.profile_infos li {
    display: flex;
    gap: 100px;
    padding: 20px 40px;
    border-bottom: solid #D2D2D2 1px;
}

.access_container {
    padding-block: 30px;
    padding-inline: 5%;
    background-color: #282d32;
}

.access_header {
    margin-top: 80px;
}

.access_header h3 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.access_content{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.access_text h3 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.access_text p {
    margin-top: 30px;
    font-size: 20px;
    font-weight: normal;
    color: white;
}

.access_phone {
    margin-top: 50px;
}

.access_phone h3 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.access_phone p {
    margin-top: 30px;
    font-size: 16px;
    font-weight: normal;
    color: white;
}

@media (max-width:1000px) {

    .access_container {
        margin-top: 50px;
        padding: 50px;
    }

    .access_map iframe {
        margin-top: 50px;
        width: 700px;
    }
}

@media (max-width: 768px) {

    .access_container {
        padding: 20px;
    }

    .access_header {
        margin-top: 40px;
    }

    .access_header h3 {
        text-align: center;
    }

    .access_map iframe {
        width: 500px;
    }
}

@media (max-width: 560px) {

    .profile_header h3 {
        font-size: 30px;
    }

    .profile_infos li {
        display: block;
        gap: 50px;
    }

    .access_container {
        padding: 20px;
    }

    .access_header h3 {
        font-size: 30px;
        text-align: center;
    }

    .access_text h3 {
        font-size: 16px;
    }

    .access_text p {
        font-size: 16px;
    }

    .access_phone h3 {
        font-size: 16px;
    }

    .access_phone p {
        font-size: 16px;
    }

    .access_map iframe {
        width: 400px;
    }

    .access_content{
        margin-top: 50px;
    }
}

