@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.first-content,
.rad_content,
.about-strike3,
.third-content,
.home-news {
    padding-inline: 5%;
    padding-block: 100px;
}  

.third-header p,
.news-header p,
.chatbot-btn button {
    font-family: 'Poppins', sans-serif;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}

.first-content {
    padding-block: 200px;
    border-bottom: solid #eee 1px;
    background: radial-gradient(circle at 20% 30%, orangered, transparent 30%),
                radial-gradient(circle at 70% 40%, rgba(0, 204, 255, 1), transparent 30%),
                radial-gradient(circle at 40% 70%, lightgreen, transparent 30%),
                radial-gradient(circle at 80% 20%, rgba(255, 100, 0, 1), transparent 30%),
                radial-gradient(circle at 10% 80%, rgba(100, 50, 200, 1), transparent 30%),
                radial-gradient(circle at 50% 50%, rgba(0, 100, 255, 0.9), transparent 20%),
                radial-gradient(circle at 90% 90%, rgba(255, 255, 0, 0.9), transparent 20%);
    background-size: 200% 200%;
    animation: gradientAnimation 30s ease infinite;
    width: 100vw;
    height: 93vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.first-header {
    margin-top: 100px;
}

.first-header h3 {
    color:  #282d32; 
    font-size: 120px;
    font-weight: bolder;
}

.first-contact {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.home-paragraph {
    max-width: 800px;
}

.home-paragraph p {
    font-size: 16px;
    font-weight: bolder;
    color: #282d32; 
}

.home_paragraph_link {
    margin-top: 50px;
}

.home_paragraph_link a {
    text-decoration: none;
}

.home_paragraph_link p {
    color: #282d32; 
    font-weight: bold;
}

.home_paragraph_link p:hover {
    color: #FF4500;
}

.home_paragraph_link p:hover i {
    transform: translateX(10px);
    transition: 500ms ease;
}

.typing-animation {
    display: inline-block;
    border-right: 5px solid orangered; 
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px; 
}
  
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}
  
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.rad_content {
    background-color: #000000;
}

.rad_card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
}

.rad_card {
    position: relative;
    min-height: 496px;
    background-color: #FF4500;
    border: none;
    padding: 20px;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    background-size: cover;
    background-repeat: no-repeat; 
    overflow: hidden;
}

.rad_card a {
    text-decoration: none;
    color: white;
}

.rad_card:hover {
    transform: scale(1.05);
    transition: 500ms ease;
    background-blend-mode: darken;
    background-position-x: 500px;
    background-position-y: 500px;
}

.red_card_genre p,
.rad_card_header p,
.rad_card_header h3,
.rad_card_paragraph p {
    text-align: left;
}

.rad_card_header p,
.rad_card_header h3,
.rad_card_paragraph p {
    margin-top: 15px;
}

.red_card_genre p {
    font-size: 20px;
    font-weight: bold;
}

.rad_card_header p {
    font-size: 30px;
    font-weight: bold;
}

.rad_card_header h3 {
    line-height: 22px;
    font-size: 20px;
    font-weight: bold;
}

.rad_card_hiddencontent {
    visibility: hidden;
}

.rad_card_hiddencontent p {
    font-size: 20px;
}

.rad_card:hover .rad_card_hiddencontent {
    visibility: visible;
    transition: 500ms ease;
}

.rad_card_content_button {
    position: absolute; 
    bottom: 20px;     
    right: 20px;        
}

.rad_card_content_button h3 {
    text-align: right;
}

.CopyRights_highlightBar_container {
    padding-inline: 5%;
    padding-block: 16px;
    border-bottom: solid #eee 1px;
}

.CopyRights_highlightBar {
    display: flex;
    justify-content: space-between;
}

.CopyRights_highlightBar h3 {
    font-weight: bolder;
    font-family: Poppins;
    align-self: center;
}

.highlight_content {
    display: flex;
    gap: 10px;
}

.highlight_number {
    font-size: 28px;
    font-weight: bolder;
    color: #FF4500;
    border-right: solid #FF4500 1px;
}

.highlight_text {
    align-self: center;
}

.highlight_text a {
    text-decoration: none;
    color: #282d32;
}

.highlight_text a:hover {
    color: #FF4500;
    transition: 500ms ease;
}

.about-strike3 {
    border-bottom: solid #eee 1px;
}

.strike3-header h3 {
    text-align: center;
    font-weight: bold;
    font-size: 80px;
}

.strike3-header p {
    font-size: 24px;
    margin-top: 30px;
    text-align: center;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    margin-top: 100px;
    min-width: 100%;
    box-sizing: border-box;
}

.strike3-image {
    text-align: center;
}

.strike3-image img {
    max-width: 1000px;
    max-height: 600px;
}

.strike3Image-paragraph {
    padding: 10px;
    text-align: center;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 20px;
    cursor: pointer;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}
  
.strike3-footer {
    margin-top: 50px;
}

.strike3-footer p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: blue;
}

.third-content {
    background-color: #000000;
    border-bottom: solid #eee 1px;
    position: relative;
    text-align: center;
}

.third-header {
    position: -webkit-sticky; 
    position: sticky;
    top: 50%; 
    transform: translateY(0); 
    z-index: 1; 
    background-color: transparent;
    transition: top 0.3s, transform 0.3s; 
    text-align: center;
}

.third-header p {
    font-size: 40px;
    font-weight: bold;
    color: blue;
}

.third-header h3 {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.third-header span {
    color: #FF4500;
    font-size: 130px;
    font-family: poppins;
    font-weight: bold;
}

.whyUs_cards_container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.whyUs_card {
    width: 45%; 
    margin-top: 150px;
    padding: 40px;
    flex: 1 1 45%;
    margin-bottom: 20px;
    padding: 40px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 2;
}

.whyUs_card:nth-child(odd) {
    align-self: flex-start;
}

.whyUs_card:nth-child(even) {
    align-self: flex-end;
}

.whyUs_card h4 {
    font-size: 30px;
    font-weight: bold;
}

.whyUs_card_hidden {
    margin-top: 30px;
    visibility: hidden;
}

.whyUs_card:hover .whyUs_card_hidden {
    visibility: visible;
}


/* .serviceDetails-container {
    border-bottom: solid #eee 1px;
}

.serviceDetail-card,
.serviceDetail-card-left {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    background-color: whitesmoke;
}

.detail-header,
.detail-header-left {
    align-self: center;
    padding: 20px;
}

.detail-header h3,
.detail-header-left h3{
    color: #282d32;
    font-size: 54px;
    margin-bottom: 30px;
}

.detail-header p,
.detail-header-left p {
    font-size: 16px;
}

.details-link {
    margin-top: 50px;
    border-radius: 30px;
    padding: 15px 30px;
}

.details-link a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.details-link a:hover i {
    transform: translateX(10px);
    transition: 500ms ease;
}

.detail-image img,
.detail-image-left img {
    max-width: 1000px;
    max-height: 900px;
    width: 100%;
    height: 100%;
} */

.home-news {
    border-bottom: solid #eee 1px;
    background-color: white;
}

.news-header p {
    font-size: 24px;
    font-weight: bold;
    color: #FF4500;
}

.news-header h3 {
    font-size: 40px;
    color: #282d32;
}

.news-content {
    margin-top: 100px;
    display: flex;
    transition: transform 0.5s ease;
    gap: 500px;
}

.news-card {
    flex: 0 0 auto;
}

.news-card a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #282d32;
    font-weight: bold;
    font-size: 30px;
}

.news-card .news_date,
.news-card .news_content {
    padding: 10px;
}

.news_controls {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
}

.controls {
    position: relative;
    z-index: 10;
}

#prev, #play-pause, #next {
    background-color: transparent;
    color: #282d32;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.indicators {
    position: relative;
    display: flex;
    z-index: 10;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #282d32;
    margin: 0 5px;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #FF4500;
}

/* For fixed content and scripts*/
.chatbot-btn {
    position: fixed; 
    right: 5%;
    bottom: 5%;
    z-index: 999; 
}

.chatbot-btn button {
    width: 150px;
    padding: 15px 30px;
    border-radius: 40px;
    border: transparent;
    color: #282d32;
    background-color: lightblue;
    font-size: 20px;
    font-family: Poppins;
    font-weight: bold;
    cursor: pointer;
}

.chatbot-section {
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    height: 70%;
    display: none;
    z-index: 10;
    background-color: white;
    transition: 2s;
    border-radius: 20px;
    border: solid #eee 1px;
    padding-inline: 5%;
    box-shadow: 0 0 5px;
}

.back-to-top-button {
    background-color: white;
    color: #282d32;
    padding: 20px 30px;
    cursor: pointer;
    border-top: solid #eee 1px;
    border-bottom: solid #eee 1px;
}

.back-to-top-button h3 {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.back-to-top-button:hover {
    background-color: whitesmoke;
    transition: 500ms ease;
}

@media (max-width: 1600px){

    .first-header h3 {
        font-size: 100px;
    }

    .strike3-header h3,
    .third-header h3,
    .news-header h3 {
        font-size: 60px;
    }  
    
    .strike3-header p {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .first-header h3 {
        font-size: 50px;
    }

    .third-header h3,
    .news-header h3 {
        font-size: 36px;
    }

    .first-contact {
        margin-top: 150px;
        display: block;
    }
  
}

@media (max-width: 1024px) {

    .first-header {
        margin-left: 0;
    }

    .first-header h3 {
        font-size: 50px;
        text-align: center;
    }

    .home-paragraph {
        max-width: 100%;
    }

    .CopyRights_highlightBar {
        overflow-x: scroll;
    }
    
    .CopyRights_highlightBar h3 {
        margin-right: 50px;
    }
    
    .highlight_content {
        min-width: 200px;
    }

    .third-header span {
        font-size: 50px;
    }

    .third-header h3,
    .news-header h3 {
        font-size: 32px;
    }

    .detail-header h3,
    .detail-header-left h3{
        font-size: 30px;
    }

    .btn-blue h3,
    .btn-orange h3 {
        min-width:350px;
    }
    
}

@media (max-width: 784px) {

    .first-content {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .first-header h3 {
        font-size: 42px;
    }

    .third-header span {
        font-size: 50px;
    }

    .third-header h3,
    .news-header h3 {
        font-size: 32px;
    }

    .third-header p,
    .news-header p {
        font-size: 24px;
    }

    .serviceDetail-card,
    .serviceDetail-card-left {
        display: flex;
        flex-direction: column;
    }

    .detail-image,
    .detail-image-left {
        order: 1;
    }

    .detail-header,
    .detail-header-left {
        order: 2;
    }
    
    .detail-header h3,
    .detail-header-left h3{
        font-size: 30px;
    }

    .details-link a {
        font-size: 16px;
    }

    .subs-header h3 {
        font-size: 30px;
    }

    .btn-blue h3,
    .btn-orange h3 {
        min-width: 300px;
    }  
}

@media (max-width: 500px) {

    .first-content {
        padding-bottom: 0px;
    }

    .first-header h3 {
        font-size: 42px;
    }

    .first-header p {
        font-size: 16px;
    }

    .first-contact {
        margin-top: 80px;
    }
    
    .first-contact h3 {
        text-align: center;
        font-size: 20px;
    }
    
    .home-paragraph p {
        font-size: 14px;
    }

    .home_paragraph_link a p {
        text-align: center;
    }

    .third-header span {
        font-size: 40px;
    }

    .strike3-header h3,
    .strike3-header h3 span,
    .third-header h3,
    .news-header h3 {
        font-size: 32px;
        text-align: left;
    }

    .home-paragraph p,
    .about-strike3 p,
    .third-header p,
    .news-header p {
        text-align: left;
        font-size: 16px;
    }

    .subs-header h3 {
        font-size: 24px;
    }

    .subscribe-content {
        padding: 5%;
    }

    .subs-btn {
        display: block;
    }

    .btn-orange {
        margin-top: 30px;
    }

    .btn-blue h3,
    .btn-orange h3 {
        min-width: 100%;
    }  
}

@media (max-width: 430px) {

    .first-header h3 {
        font-size: 32px;
    }

    .third-header span {
        font-size: 40px;
    }

    .strike3-header h3,
    .strike3-header h3 span,
    .third-header h3,
    .news-header h3 {
        font-size: 30px;
    }

    .home-paragraph p,
    .third-header p,
    .news-header p {
        font-size: 16px;
    }

    .strike3Image-paragraph p {
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
    }

    .strike3-image img,
    .strike3-image2 img {
        margin-top: 50px;
    }

    .strike3-footer {
        margin-top: 30px;
    }

    .strike3-footer p {
        font-size: 16px;
        text-align: center;
    }

    .third-main {
        margin-top: 30px;
    }

    .serviceDetails-container {
        padding-top: 0px;
    }

    .detail-header p,
    .detail-header-left p {
        font-size: 16px;
    }

    .news-card p {
        font-size: 16px;
    }

    .newsCard-header a {
        font-size: 16px
    }

    .read-more-btn {
        font-size: 16px;
    }

    .subs-header h3 {
        font-size: 18px;
    }
}
