@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

body {
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    margin: 0;
    overflow-x: hidden;
}

#loading_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it appears above other content */
  }
  
  .loader {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF4500; /* Initial color */
    animation: pulse 2s infinite alternate, change-color 4s infinite linear; /* Apply pulsating and color transition animations */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Add glow effect */
  }
  
  /* Define pulsating animation */
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2); /* Grow to 1.2 times original size */
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Define color transition animation */
  @keyframes change-color {
    0% {
      background-color: #FF4500;
    }
    25% {
      background-color: white;
    }
    50% {
      background-color: dodgerblue;
    }
    75% {
      background-color: lavender;
    }
    100% {
      background-color: limegreen;
    }
  }
  
  /* Apply different animation delays for each circle */
  .circle:nth-child(2) {
    animation-delay: -1s; /* Delay the animation for the second circle */
  }
  
  .circle:nth-child(3) {
    animation-delay: -0.5s; /* Delay the animation for the third circle */
  }
   

/* Navbar container */
.navbar {
    height: 0;
    width: 100%;
    background-color: transparent;
    margin-left: auto;
    position: relative;
    top: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    transition: all 0.5ms ease-out;
    z-index: 999;
    background-color: transparent;
}

nav.scrolled {
    background-color: white;
}

nav.scrolled a,
.mobile-menu-icon i.scrolled {
    color: black;
}

nav.dark-mode {
    background-color: #282d32;
}

.navbar-logo a {
    align-items: center;
    display: flex;
}

.navbar-logo a:hover {
    opacity: 0.8;
    transition: 500ms ease;
}

.navbar-logo img {
    width: 200px;
    background-color: transparent;
}

.navbar-mobile {
    display: none;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu-icon i {
    color: white;
}

.navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn a {
    text-decoration: none;
    color: white; 
    position: relative;
    overflow: hidden; 
}

.dropbtn a:hover {
    color: #FF4500;
    transition: 500ms ease;
}

.dropdown .dropbtn {
    font-size: 16px;   
    font-weight: bold;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: transparent;
}

.dropdown:hover .drop_content {
    visibility: visible;
}

.drop_content {
    visibility: hidden;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    padding-block: 20px;
}

.drop_service a {
    display: block;
}

.drop_service a:hover p {
    color: #FF4500;
    transition: 500ms ease; 
}

.drop_service a p {
    font-size: 12px;
    font-weight: bold;
    color: #282d32;
}

.drop_service a img {
    width: 150px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.navbar-content {
    padding: 14px 16px;
    display: flex;
    gap: 30px;
}

.navbar-contact a {
    font-size: 14px;
    border-radius: 10px;
    color: white !important;
    background: linear-gradient(90deg, rgba(0,155,255,1) 0%, rgba(158,7,245,1) 100%);
}

.navbar-contact a:hover {
    background: linear-gradient(90deg, rgba(0,0,255) 0%, rgba(0,0,255) 100%);
    transition: 500ms ease;
}

.navbar-document a {
    font-size: 14px;
    border-radius: 10px;
    color: white !important;
    background-color: orange;
}

.navbar-document a:hover {
    background-color: #FF4500;
    transition: 500ms ease;
}

.mode-switcher {
    align-items: center;
    padding: 14px 8px;
}

.mode-switcher button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mode-switcher button:hover {
    animation: flip 0.5s ease-in-out;
}

@keyframes flip {
    0% {
        transform: perspective(400px) rotateY(0);
    }
    50% {
        transform: perspective(400px) rotateY(180deg);
    }
    100% {
        transform: perspective(400px) rotateY(360deg);
    }
}

.mode-switcher i {
    font-size: 30px;
    height: 40px;
}

.scroll-progress-container {
    position: fixed;
    top: 100px;
    width: 100%;
    height: 4px;
    background-color: transparent;
    z-index: 99;
}

.scroll-progress-container.scrolled {
    background-color: #eee;
}

.scroll-progress-bar {
    height: 100%;
    width: 0;
    background-color: #FF4500; 
}

@media screen and (max-width: 1300px) {
  .navbar-menu, .navbar-items, .navbar-contact, .navbar-document, .mode-switcher {
        display: none;
  }

  .navbar-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
  }

  .mobile-menu-icon {
        display: block;
        cursor: pointer;
  }

  .mobile-menu-icon i {
        font-size: 24px;
        color: #282d32;
        overflow: hidden;
  }

  .mobile-nav-active .navbar-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 104px;
        left: 0;
        width: 100%;
        background-color: white;
        z-index: 1;
  }

  .navbar-items a {
        padding: 10px;
        color: black;
  }
}

@media screen and (max-width: 1000px) {
    *:not(.CopyRights_highlightBar) {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 500px) {
    .navbar-logo img {
        width: 150px;
    }

    .navbar-logo a h3 {
        font-size: 20px;
        margin-left: 10px;
    }
}

/*For dark theme*/

body.dark-mode {
    background-color: #282d32;
    transition: 0.5s ease;
}

body.dark-mode h3,
body.dark-mode p {
    color: #EC6B1E;
}
