@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.dropbtn a,
.navbar_ux a i,
.navbar_ux  button i,
.language_selection button i {
    color: #282d32; 
}

.dropbtn a:hover {
    color: #B2A476;
}

.scroll-progress-container {
    background-color: #eee;
}

body {
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: 0.5s ease;
    margin: 0;
}

.contact-container {
    margin-top: 100px;
    padding-block: 100px;
    padding-inline: 5%;
}

.contact-header h3 {
    text-align: center;
    font-size: 64px;
}

form {
    display: grid;
    grid-template-columns: repeat(autofill, minmax(1fr, 100%));
    gap: 50px;
    justify-content: center;
}

.contact-input {
    display: flex;
}

.contact-input p {
    width: 200px;
    padding: 20px;
}

.contact-text span {
    color: red;
}

input {
    width: 800px;
    height: 50px;
    padding: 20px 30px;
    font-size: 16px;
    border: solid 1px #282d32;
}

input:focus {
    box-shadow: 0 0 3px #282d32;
    transition: 500ms ease;
}

textarea {
    width: 800px;
    min-height: 100px;
    padding: 20px 30px;
    font-size: 16px;
}

textarea:hover {
    box-shadow: 0 0 3px #282d32;
    transition: 500ms ease;
}

.contact-form {
    padding-block: 100px;
}

button {
    padding-block: 10px;
    background-color: #B2A476;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 900px) {
    input {
        width: 100%;
    }
    
    textarea {
        width: 100%;
    }
}

@media (max-width: 430px) {

    .contact-container {
        margin-top: 100px;
        padding-block: 20px;
    }
    
    .contact-header h3 {
        margin-top: 50px;
        font-size: 38px;
    }

    input {
        width: 380px;
    }
    
    textarea {
        width: 380px;
    }
}

@media (max-width: 397px) {

    .contact-input {
        display: block;
    }

    input {
        width: 350px;
    }
    
    textarea {
        width: 350px;
    }
}

