@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.first-content,
.about-strike3,
.about-us,
.third-content,
.forth-content,
.home-news {
    padding-inline: 5%;
    padding-block: 100px;
}

.about-us-header p,
.third-header p,
.news-header p,
.chatbot-btn button {
    font-family: 'Poppins', sans-serif;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease;
}

.first-content {
    padding-block: 200px;
    border-bottom: solid #eee 1px;
    background-image: url("../images/decoration/background.5890faad5003.jpeg");
    background-blend-mode: multiply;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100vw;
    height: 93vh;
}

.first-header {
    margin-top: 100px;
}

.first-header h3 {
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.first-contact {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.first-contact h3 {
    text-align: center;
    font-size: 24px;
}

.home-paragraph {
    max-width: 800px;
}

.home-paragraph p {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.home_paragraph_link {
    margin-top: 50px;
}

.home_paragraph_link a {
    text-decoration: none;
}

.home_paragraph_link p {
    color: white;
    font-weight: bold;
}

.home_paragraph_link p:hover {
    color: #FF4500;
}

.home_paragraph_link p:hover i {
    transform: translateX(10px);
    transition: 500ms ease;
}

.CopyRights_highlightBar_container {
    padding-inline: 5%;
    padding-block: 16px;
    border-bottom: solid #eee 1px;
}

.CopyRights_highlightBar {
    display: flex;
    justify-content: space-between;
}

.CopyRights_highlightBar h3 {
    font-weight: bolder;
    font-family: Poppins;
    align-self: center;
}

.highlight_content {
    display: flex;
    gap: 10px;
}

.highlight_number {
    font-size: 28px;
    font-weight: bolder;
    color: #FF4500;
    border-right: solid #FF4500 1px;
}

.highlight_text {
    align-self: center;
}

.highlight_text a {
    text-decoration: none;
    color: #282d32;
}

.highlight_text a:hover {
    color: #FF4500;
    transition: 500ms ease;
}

.about-us {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 50px;
    border-bottom: solid #eee 1px;
    background-color: antiquewhite;
}

.about-us-header p {
    font-size: 24px;
    font-weight: bold;
    color: #FF4500;
}

.about-us-header h3 {
    font-size: 70px;
    font-weight: bold;
    color: #282d32;
}

.about-us-paragraph {
    margin-top: 80px;
}

.about-us-paragraph p {
    color: #282d32;
    font-size: 18px;
    font-weight: 500;
    padding-right: 50px;
}

.about-us-paragraph a {
    text-decoration: none;
}

.about-us-paragraph a p {
    color: blue;
    font-size: 18px;
    font-weight: bold;
    margin-top: 80px;
}

.about-us-paragraph a p:hover {
    color: #FF4500;
}

.about-us-paragraph a p:hover i {
    transform: translateX(10px);
    transition: 500ms ease;
}

.about-us-image img {
    position: relative;
    max-width: 500px;
}

.second-content {
    border-bottom: solid #eee 1px;
}

.second-content h3 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;  
    margin-block: 100px;
}

.second-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    background-color: whitesmoke;
}

.secondCard-text {
    align-self: center;
    padding: 20px;
}

.secondCard-text h3 {
    font-weight: bolder;
    text-align: left;
    font-size: 54px;
    margin-top: 30px;
}

.secondCard-text p {
    font-size: 20px;
}

.second-card img {
    max-width: 1000px;
    max-height: 900px;
    width: 100%;
    height: 100%;
}

.third-content {
    border-bottom: solid #eee 1px;
}

.third-header p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #FF4500;
}

.third-header h3 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.third-header span {
    color: #FF4500;
    font-size: 70px;
    font-family: poppins;
    font-weight: bold;
}

.third-main {
    margin-top: 50px;
}

.about-strike3 {
    border-bottom: solid #eee 1px;
    background-color: #eee;
}

.strike3-header h3 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

.strike3-header p {
    margin-top: 30px;
    text-align: center;
}

.strike3-image,
.strike3-image2 {
    display: flex;
    justify-content: center;
}

.strike3-image img,
.strike3-image2 img {
    align-self: center;
    margin-top: 100px;
    max-width: 800px;
    min-width: 300px;
    width: 100%;
}

.strike3Image-paragraph {
    margin-top: 30px;
}

.strike3Image-paragraph p {
    text-align: center;
}

.strike3Image-paragraph a {
    color: blue;
}

.strike3-footer {
    margin-top: 100px;
}

.strike3-footer p {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: blue;
}

.whyUs-card {
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid #eee 1px;
}

.whyUs-card h3 {
    font-size: 34px;
}

.whyUs-card h3 span {
    font-size: 50px;
    padding-right: 20px;
    color: #FF4500;
}

.whyUs-card p {
    margin-top: 30px;
}

.forth-content {
    border-bottom: solid #eee 1px;
}

.forth-header p,
.forth-header h3 {
    text-align: center;
}

.forth-header p {
    font-size: 30px;
    font-weight: bold;
    color: #FF4500;
}

.forth-header h3 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;
}

.forth-main {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.forth-card {
    max-width: 450px;
    background-color: orange;
    border-radius: 20px;
    padding: 25px;
}

.forth-card img {
    max-width: 100%;
}

.forth-card h3 {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
}

.forth-card p {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.serviceDetails-container {
    padding-top: 100px;
    border-bottom: solid #eee 1px;
}

.serviceDetail-card,
.serviceDetail-card-left {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    background-color: whitesmoke;
}

.detail-header,
.detail-header-left {
    align-self: center;
    padding: 20px;
}

.detail-header h3,
.detail-header-left h3{
    color: #282d32;
    font-size: 54px;
    margin-bottom: 30px;
}

.detail-header p,
.detail-header-left p {
    font-size: 16px;
}

.details-link {
    margin-top: 50px;
    border-radius: 30px;
    padding: 15px 30px;
}

.details-link a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}

.details-link a:hover i {
    transform: translateX(10px);
    transition: 500ms ease;
}

.detail-image img,
.detail-image-left img {
    max-width: 1000px;
    max-height: 900px;
    width: 100%;
    height: 100%;
}

.home-news {
    border-bottom: solid #eee 1px;
}

.news-header p {
    font-size: 24px;
    font-weight: bold;
    color: #FF4500;
}

.news-header h3 {
    font-size: 40px;
}

.news-card {
    margin-top: 30px;
    border-bottom: solid #eee 1px;
    padding-bottom: 20px;
}

.news-card a {
    text-decoration: none;
    font-size: 20px;
    color: #282d32;
}

.newsCard-header {
    display: flex;
    justify-content: space-between;
}

.hidden-content {
    display: none;
    margin-top: 30px;
}
  
.read-more-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #282d32;
    border: none;
    margin-top: 10px;
    transition: background-color 500ms ease;
}

.news-more {
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

.news-more a {
    font-size: 20px;
    text-decoration: none;
    color: blue;
}

.subscribe-content {
    background-image: linear-gradient(to right top, #FF4500, #FF6347, #FF7F50, #FF8C00);
    padding: 50px;
}

.subs-header h3 {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.subs-btn {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.btn-blue  a,
.btn-orange a {
    text-decoration: none;
}

.btn-blue h3 {
    min-width: 500px;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, rgba(0,155,255,1) 0%, rgba(158,7,245,1) 100%);
    border-radius: 10px;
    padding: 15px 10px;
}

.btn-orange h3 {
    min-width: 500px;
    text-align: center;
    color: white;
    background-color: orange;
    border-radius: 10px;
    padding: 15px 10px;
}

/* For fixed content and scripts*/
.chatbot-btn {
    position: fixed; 
    right: 5%;
    bottom: 5%;
    z-index: 999; 
}

.chatbot-btn button {
    width: 150px;
    padding: 15px 30px;
    border-radius: 40px;
    border: transparent;
    color: #282d32;
    background-color: lightblue;
    font-size: 20px;
    font-family: Poppins;
    font-weight: bold;
    cursor: pointer;
}

.chatbot-section {
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    height: 70%;
    display: none;
    z-index: 10;
    background-color: white;
    transition: 2s;
    border-radius: 20px;
    border: solid #eee 1px;
    padding-inline: 5%;
    box-shadow: 0 0 5px;
}

.back-to-top-button {
    background-color: white;
    color: #282d32;
    padding: 20px 30px;
    cursor: pointer;
    border-top: solid #eee 1px;
    border-bottom: solid #eee 1px;
}

.back-to-top-button h3 {
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.back-to-top-button:hover {
    background-color: whitesmoke;
    transition: 500ms ease;
}

@media (max-width: 1600px){
    .forth-header h3,
    .about-us-header h3,
    .second-header h3,
    .forth-header h3,
    .strike3-header h3,
    .third-header h3,
    .news-header h3 {
        font-size: 42px;
    }
    
    .forth-card {
        max-width: 400px;
    }
}

@media (max-width: 1500px) {
        
    .about-us-image img {
        max-width: 500px;
    }

    .forth-card {
        max-width: 350px;
    }
}

@media (max-width: 1300px) {
    .about-us {
        display: block;
        gap: 50px;
    }

    .about-us-header {
        padding: 0px;
    }
    
    .about-us-header h3 {
        font-size: 50px;
    }
    
    .about-us-paragraph {
        margin-top: 0px;
    }
    
    .about-us-paragraph p {
        padding-right: 0px;
    }
    
    .about-us-paragraph a p {
        margin-top: 20px;
    }

    .about-us-image {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        order: 1;
    }

    .about-us-image img {
        order: 1;
        max-width: 80%;
    }
    
}

@media (max-width: 1200px) {
    .first-header h3 {
        font-size: 50px;
    }

    .forth-header h3,
    .about-us-header h3,
    .second-header h3,
    .forth-header h3,
    .third-header h3,
    .news-header h3 {
        font-size: 36px;
    }

    .forth-header p {
        font-size: 24px;   
    }

    .first-contact {
        margin-top: 150px;
        display: block;
    }

    .track-card h3 {
        font-size: 40px;
    }
    
    .track-card p {
        font-size: 16px;
    }

    .forth-card {
        max-width: 320px;
    }

    .track-card h3 {
        font-size: 40px;
    }

    
    .track-card p {
        font-size: 16px;
    }
    
}

@media (max-width: 1000px) {

    .first-header {
        margin-left: 0;
    }

    .first-header h3 {
        font-size: 50px;
        text-align: center;
    }

    .home-paragraph {
        max-width: 100%;
    }

    .about-us-image img {
        max-width: 400px;
    }

    .CopyRights_highlightBar {
        overflow-x: scroll;
    }
    
    .CopyRights_highlightBar h3 {
        margin-right: 50px;
    }
    
    .highlight_content {
        min-width: 200px;
    }

    .third-header span {
        font-size: 50px;
    }

    .forth-header h3,
    .about-us-header h3,
    .second-header h3,
    .forth-header h3,
    .third-header h3,
    .news-header h3 {
        font-size: 32px;
    }

    .forth-header p {
        font-size: 24px;   
    }

    .forth-card {
        max-width: 320px;
        padding: 15px;
    }

    .detail-header h3,
    .detail-header-left h3{
        font-size: 30px;
    }

    .btn-blue h3,
    .btn-orange h3 {
        min-width:350px;
    }
    
}

@media (max-width: 784px) {

    .first-content {
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .first-header h3 {
        font-size: 42px;
    }

    .about-us-content {
        display: flex;
        flex-direction: column;
    }

    .about-us-tracks {
        display: block;
    }

    .track-card h3 {
        font-size: 40px;
    }
    
    .track-card p {
        font-size: 24px;
    }

    .about-us-mid {
        order: 2;
    }
    
    .about-us-image {
        margin-top: 30px;
        order: 1;
    }

    .about-us-image img {
        max-width: 100%;
    }

    .third-header span {
        font-size: 50px;
    }

    .forth-header h3,
    .about-us-header h3,
    .second-header h3,
    .forth-header h3,
    .third-header h3,
    .news-header h3 {
        font-size: 32px;
    }

    .about-us-header p,
    .about-us-paragraph p,
    .third-header p,
    .news-header p {
        font-size: 24px;
    }

    .forth-main {
        display: block;
        margin-top: 50px
    }

    .forth-card {
        margin-top: 50px;
        max-width: 100%;
        padding: 15px;
    }

    .whyUs-card h3 {
        font-size: 30px;
    }
    
    .whyUs-card h3 span {
        font-size: 40px;
        padding-right: 10px;
    }

    .serviceDetail-card,
    .serviceDetail-card-left {
        display: flex;
        flex-direction: column;
    }

    .detail-image,
    .detail-image-left {
        order: 1;
    }

    .detail-header,
    .detail-header-left {
        order: 2;
    }
    
    .detail-header h3,
    .detail-header-left h3{
        font-size: 30px;
    }

    .details-link a {
        font-size: 16px;
    }

    .subs-header h3 {
        font-size: 30px;
    }

    .btn-blue h3,
    .btn-orange h3 {
        min-width: 300px;
    }  
}

@media (max-width: 500px) {

    .first-content {
        padding-bottom: 0px;
    }

    .first-header h3 {
        font-size: 42px;
    }

    .first-header p {
        font-size: 16px;
    }

    .first-contact {
        margin-top: 80px;
    }
    
    .first-contact h3 {
        text-align: center;
        font-size: 20px;
    }
    
    .home-paragraph p {
        font-size: 14px;
    }

    .home_paragraph_link a p {
        text-align: center;
    }

    .track-card h3 {
        font-size: 30px;
    }
    
    .track-card p {
        font-size: 16px;
    }

    .third-header span {
        font-size: 40px;
    }

    .strike3-header h3,
    .strike3-header h3 span,
    .about-us-header h3,
    .forth-header h3,
    .about-us-header h3,
    .second-header h3,
    .forth-header h3,
    .third-header h3,
    .news-header h3 {
        font-size: 32px;
        text-align: left;
    }

    .home-paragraph p,
    .about-strike3 p,
    .about-us-header p,
    .third-header p,
    .news-header p {
        text-align: left;
        font-size: 16px;
    }

    .subs-header h3 {
        font-size: 24px;
    }

    .subscribe-content {
        padding: 5%;
    }

    .subs-btn {
        display: block;
    }

    .btn-orange {
        margin-top: 30px;
    }

    .btn-blue h3,
    .btn-orange h3 {
        min-width: 100%;
    }  
}

@media (max-width: 430px) {

    .first-header h3 {
        font-size: 32px;
    }
    
    .about-us-paragraph p {
        margin-top: 30px;
    }

    .track-card h3 {
        font-size: 30px;
    }
    
    .track-card p {
        font-size: 16px;
    }

    .third-header span {
        font-size: 40px;
    }

    .forth-header h3,
    .about-us-header h3,
    .strike3-header h3,
    .strike3-header h3 span,
    .second-header h3,
    .forth-header h3,
    .third-header h3,
    .news-header h3 {
        font-size: 30px;
    }

    .home-paragraph p,
    .about-us-header p,
    .about-us-paragraph p,
    .third-header p,
    .news-header p {
        font-size: 16px;
    }

    .strike3Image-paragraph p {
        margin-top: 20px;
        font-size: 14px;
        text-align: center;
    }

    .strike3-image img,
    .strike3-image2 img {
        margin-top: 50px;
    }

    .strike3-footer {
        margin-top: 30px;
    }

    .strike3-footer p {
        font-size: 16px;
        text-align: center;
    }

    .third-main {
        margin-top: 30px;
    }

    .whyUs-card h3 {
        font-size: 24px;
    }
    
    .whyUs-card h3 span {
        
        font-size: 32px;
        padding-right: 10px;
    }

    .whyUs-card p {
        font-size: 16px;
    }

    .serviceDetails-container {
        padding-top: 0px;
    }

    .detail-header p,
    .detail-header-left p {
        font-size: 16px;
    }

    .news-card p {
        font-size: 16px;
    }

    .newsCard-header a {
        font-size: 16px
    }

    .read-more-btn {
        font-size: 16px;
    }

    .subs-header h3 {
        font-size: 18px;
    }
}
