{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <script
      src="https://kit.fontawesome.com/e325191aeb.js"
      crossorigin="anonymous"
    ></script>
    <title></title>
  </head>

  <body>
    <div id="loading_screen">
      <div class="loader">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>

    <div class="navbar">
      <nav id="navBar">
        <div class="navbar-logo">
          <a href="/">
            <img
              src="{% static 'images/icon/uholdings_logo_out.png' %}"
              alt="u-Holdings"
            />
          </a>
        </div>

        <div class="navbar-mobile">
          <div class="mobile-menu-icon">
            <i class="fa-solid fa-bars"></i>
          </div>

          <div class="navbar-items">
            <!-- What we do Section -->
            <div class="mobile_dropdown" id="mobile_margin">
              <button
                class="mobile_dropbtn"
                onclick="showSection('what_we_do_section')"
              >
                <h3>
                  What we do&nbsp;<i class="fa-solid fa-chevron-right"></i>
                </h3>
              </button>
              <div class="mobile_drop_content" id="what_we_do_section">
                <button onclick="hideSection('what_we_do_section')">
                  <h3>
                    <i class="fa-solid fa-chevron-left"></i>&nbsp;What we do
                  </h3>
                </button>
                <div class="mobile_drop_content_box">
                  <button onclick="showSection('capabilities_section')">
                    <h3>
                      Capabilities&nbsp;<i
                        class="fa-solid fa-chevron-right"
                      ></i>
                    </h3>
                  </button>
                  <div class="mobile_drop_content" id="capabilities_section">
                    <button onclick="hideSection('capabilities_section')">
                      <h3>
                        <i class="fa-solid fa-chevron-left"></i
                        >&nbsp;Capabilities
                      </h3>
                    </button>
                    <div class="drop_service">
                      <a href="/service1"><p>著作物の保護</p></a>
                    </div>
                    <div class="drop_service">
                      <a href="/service2"><p>違法ダウンローダーの摘発</p></a>
                    </div>
                    <div class="drop_service">
                      <a href="/service3"><p>協力関係の構築</p></a>
                    </div>
                    <div class="drop_service">
                      <a href="/service4"><p>監視と検知</p></a>
                    </div>
                  </div>
                </div>
                <div class="mobile_drop_content_box">
                  <button onclick="showSection('case_studies_section')">
                    <h3>
                      Case studies&nbsp;<i
                        class="fa-solid fa-chevron-right"
                      ></i>
                    </h3>
                  </button>
                  <div class="mobile_drop_content" id="case_studies_section">
                    <button onclick="hideSection('case_studies_section')">
                      <h3>
                        <i class="fa-solid fa-chevron-left"></i>&nbsp;Case
                        studies
                      </h3>
                    </button>
                    <div class="drop_service">
                      <a href="/case_study"><p>開示判決一覧</p></a>
                    </div>
                    <div class="drop_service">
                      <a href="/about_case_study"><p>開示判決とは</p></a>
                    </div>
                  </div>
                </div>
                <div class="mobile_drop_content_box">
                  <button onclick="showSection('industries_section')">
                    <h3>
                      Industries&nbsp;<i class="fa-solid fa-chevron-right"></i>
                    </h3>
                  </button>
                  <div class="mobile_drop_content" id="industries_section">
                    <button onclick="hideSection('industries_section')">
                      <h3>
                        <i class="fa-solid fa-chevron-left"></i>&nbsp;Industries
                      </h3>
                    </button>
                    <div class="drop_service">
                      <a href="#"><p>著作物の管理</p></a>
                    </div>
                    <div class="drop_service">
                      <a href="#"><p>著作物の保護</p></a>
                    </div>
                    <div class="drop_service">
                      <a href="#"><p>データ管理</p></a>
                    </div>
                    <div class="drop_service">
                      <a href="#"><p>ハイレベルテクノロジー</p></a>
                    </div>
                    <div class="drop_service">
                      <a href="#"><p>ソフトウエア</p></a>
                    </div>
                    <div class="drop_service">
                      <a href="#"><p>プラットフォーム</p></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Who we are Section -->
            <div class="mobile_dropdown">
              <button
                class="mobile_dropbtn"
                onclick="showSection('who_we_are_section')"
              >
                <h3>
                  Who we are&nbsp;<i class="fa-solid fa-chevron-right"></i>
                </h3>
              </button>
              <div class="mobile_drop_content" id="who_we_are_section">
                <button onclick="hideSection('who_we_are_section')">
                  <h3>
                    <i class="fa-solid fa-chevron-left"></i>&nbsp;Who we are
                  </h3>
                </button>
                <div class="mobile_drop_content_box">
                  <button onclick="showSection('organization_section')">
                    <h3>
                      Our organization&nbsp;<i
                        class="fa-solid fa-chevron-right"
                      ></i>
                    </h3>
                  </button>
                  <div class="mobile_drop_content" id="organization_section">
                    <button onclick="hideSection('organization_section')">
                      <h3>
                        <i class="fa-solid fa-chevron-left"></i>&nbsp;Our
                        organization
                      </h3>
                    </button>
                    <div class="drop_service">
                      <a href="/about/company-index"
                        ><p>u&nbsp;Holdingsについて</p></a
                      >
                    </div>
                    <div class="drop_service">
                      <a href="/service2"><p>Office</p></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Other Links -->
            <div class="mobile_dropdown">
              <a href="/news">News&nbsp;</a>
            </div>
            <div class="mobile_dropdown">
              <a href="/contact">Contact</a>
            </div>
            <div class="mobile_ux">
              <div><a href="#">AI&nbsp;search</a></div>
              <div><a class="user_account" href="/login">Account</a></div>
            </div>
          </div>
        </div>

        {% comment %} for usual width and aspect ratio {% endcomment %}
        <div class="navbar-menu">
          <div class="dropdown">
            <button class="dropbtn" id="nav_services">
              <a href="/service"
                >What we do&nbsp;<i class="fa-solid fa-chevron-down"></i
              ></a>
            </button>

            <div class="drop_content">
              <div class="drop_content_box">
                <h3>Capabilities</h3>
                <div class="drop_service">
                  <a href="/service1">
                    <p>著作物の保護</p>
                  </a>
                </div>

                <div class="drop_service">
                  <a href="/service2">
                    <p>違法ダウンローダーの摘発</p>
                  </a>
                </div>

                <div class="drop_service">
                  <a href="/service3">
                    <p>協力関係の構築</p>
                  </a>
                </div>

                <div class="drop_service">
                  <a href="/service4">
                    <p>監視と検知</p>
                  </a>
                </div>
              </div>

              <div class="drop_content_box">
                <h3>Case studies</h3>
                <div class="drop_service">
                  <a href="/case_study">
                    <p>開示判決一覧</p>
                  </a>
                </div>

                <div class="drop_service">
                  <a href="/about_case_study">
                    <p>開示判決とは</p>
                  </a>
                </div>
              </div>

              <div class="drop_content_box">
                <h3>Industries</h3>
                <div class="drop_service">
                  <a href="#">
                    <p>著作物の管理</p>
                  </a>
                </div>

                <div class="drop_service">
                  <a href="#">
                    <p>著作物の保護</p>
                  </a>
                </div>

                <div class="drop_service">
                  <a href="#">
                    <p>データ管理</p>
                  </a>
                </div>

                <div class="drop_service">
                  <a href="#">
                    <p>ハイレベルテクノロジー</p>
                  </a>
                </div>

                <div class="drop_service">
                  <a href="#">
                    <p>ソフトウエア</p>
                  </a>
                </div>

                <div class="drop_service">
                  <a href="#">
                    <p>プラットフォーム</p>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="dropdown">
            <button class="dropbtn" id="nav_services">
              <a href="/about/company-index"
                >Who we are&nbsp;<i class="fa-solid fa-chevron-down"></i
              ></a>
            </button>

            <div class="drop_content">
              <div class="drop_content_box">
                <h3>Our organization</h3>
                <div class="drop_service">
                  <a href="/about/company-index">
                    <p>u&nbsp;Holdingsについて</p>
                  </a>
                </div>

                <div class="drop_service">
                  <a href="#">
                    <p>Office</p>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="dropdown">
            <button class="dropbtn" id="nav_news">
              <a href="/news">News&nbsp;</a>
            </button>
          </div>

          <div class="dropdown">
            <button class="dropbtn" id="nav_contact">
              <a href="/contact">Contact</a>
            </button>
          </div>
        </div>

        <div class="search_box">
          <input
            placeholder="type to search..."
            type="text"
            name="search_area"
            id="search_area"
            rows="1"
          />
        </div>

        <div class="navbar_ux">
          <button class="ai_search" onclick="magnify_searching()">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>

          <a class="user_account" id="nav_login" href="/login"
            ><i class="fa-solid fa-user"></i
          ></a>
        </div>
      </nav>
      <div class="scroll-progress-container" id="scrollBar">
        <div class="scroll-progress-bar" id="scrollProgressBar"></div>
      </div>
    </div>

    <script src="{% static 'js/script.js'%}"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const mobileMenuIcon = document.querySelector(".mobile-menu-icon");
        const navbar = document.querySelector(".navbar");

        mobileMenuIcon.addEventListener("click", function () {
          navbar.classList.toggle("mobile-nav-active");
        });

        const navItems = document.querySelectorAll(".navbar-items");
        navItems.forEach((item) => {
          item.addEventListener("click", function () {
            navbar.classList.remove("mobile-nav-active");
          });
        });

        document.addEventListener("click", function (event) {
          const isClickInsideMenu =
            navbar.contains(event.target) ||
            mobileMenuIcon.contains(event.target);
          if (!isClickInsideMenu) {
            navbar.classList.remove("mobile-nav-active");
          }
        });
      });
    </script>
  </body>
</html>

{% block content %}
<!--When extends base.html, extended content comes inside this-->
{% endblock content %}

<!--Footer starts-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <script
      src="https://kit.fontawesome.com/e325191aeb.js"
      crossorigin="anonymous"
    ></script>
    <title>Footer</title>
  </head>

  <body>
    <div class="footer-container">
      <div class="footer-main">
        <div class="footer-logoImage">
          <a href="/"
            ><img
              src="{% static 'images/icon/uholdings_logo_out.png' %}"
              alt="org logo"
          /></a>
        </div>
        <div class="footer-content">
          <a href="/about/company-index"><h3>About us</h3></a>
          <a href="/term-of-use"><h3>Term&nbsp;of&nbsp;Use</h3></a>
          <a href="/privacy-policy"><h3>Privacy&nbsp;policies</h3></a>
          <a href="/help"><h3>Help</h3></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
        </div>
      </div>

      <div class="footer-logo">
        <p class="copyright" id="copyright">
          © Copyright u ホールディングス | <span id="currentYear"></span>
        </p>
      </div>
    </div>

    <div class="footer-container-mobile">
      <div class="footer-main">
        <div class="footer-content">
          <a href="/about/company-index"><h3>About us</h3></a>
          <a href="/career"><h3>Career</h3></a>
          <a href="/contact"><h3>Contact us</h3></a>
          <a href="/locations"><h3>Locations</h3></a>
          <a href="/privacy-policy"><h3>Privacy&nbsp;policies</h3></a>
          <a href="/site-maps"><h3>Site Maps</h3></a>
          <a href="/socials"><h3>Socials</h3></a>
          <a href="/term-of-use"><h3>Term&nbsp;of&nbsp;Use</h3></a>
          <a href="/help"><h3>Help</h3></a>
        </div>
      </div>

      <div class="footer-logo">
        <p class="copyright">
          © Copyright&nbsp;u&nbsp;ホールディングス&nbsp;|&nbsp;2024
        </p>
      </div>
    </div>

    <script>
      const currentYear = new Date().getFullYear();
      document.getElementById("currentYear").textContent = currentYear;
    </script>

    <script>
      const backToTopBtn = document.getElementById("backToTopBtn");

      window.onscroll = function () {
        if (window.scrollY > 22) {
          navBar.classList.add("scrolled");
          backToTopBtn.style.display = "block";
        } else {
          navBar.classList.remove("scrolled");
          backToTopBtn.style.display = "none";
        }
      };

      function scrollToTop() {
        console.log("Scrolling to top...");
        window.scrollTo({ top: 0, behavior: "smooth" });
      }
    </script>
  </body>
</html>
