{% extends 'base.html' %}{% load static %} {% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/e325191aeb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/case_study.css' %}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <title>Case studies</title>
  </head>

  <body>
    <div class="case_study_container">
      <div class="case_study_header">
        <p>開示判決一覧</p>
        <h3>Case Study</h3>
      </div>

      <div class="case_card_container">
        <div class="case_card_sort">
          <select>
            <option id="case_all">全て</option>
            <option id="case_2024">2024年</option>
            <option id="case_2023">2023年</option>
            <option id="case_2022">2022年</option>
          </select>
        </div>

        <div class="case_cards">
          <ul>
            <li>
              <a href="/rad_card">
                <div class="case_card_genre">
                  <p>CASE STUDY</p>
                </div>

                <div class="case_card_header">
                  <p>開示判決</p>
                  <h3>対BIGLOBEにおいてu Holdings側が勝訴の判決をいただいた</h3>
                  <h4>Date: 2024/07/06</h4>
                </div>

                <div class="case_card_showncontent">
                  {% comment %} inserting background image {% endcomment %}
                </div>

                <div class="case_card_hiddencontent">
                  <div class="case_card_paragraph">
                    <p>
                      In a serene forest, the bright sun filtered through the
                      dense foliage, casting playful shadows on the vibrant
                      green moss. Birds chirped melodiously while a gentle
                      breeze whispered through the trees.
                    </p>
                  </div>
                  <div class="case_card_content_button">
                    <a href="#"><h3>EXPAND</h3></a>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/rad_card">
                <div class="case_card_genre">
                  <p>CASE STUDY</p>
                </div>

                <div class="case_card_header">
                  <p>開示判決</p>
                  <h3>対BIGLOBEにおいてu Holdings側が勝訴の判決をいただいた</h3>
                  <h4>Date: 2024/07/06</h4>
                </div>

                <div class="case_card_showncontent">
                  {% comment %} inserting background image {% endcomment %}
                </div>

                <div class="case_card_hiddencontent">
                  <div class="case_card_paragraph">
                    <p>
                      In a serene forest, the bright sun filtered through the
                      dense foliage, casting playful shadows on the vibrant
                      green moss. Birds chirped melodiously while a gentle
                      breeze whispered through the trees.
                    </p>
                  </div>
                  <div class="case_card_content_button">
                    <a href="#"><h3>EXPAND</h3></a>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/rad_card">
                <div class="case_card_genre">
                  <p>CASE STUDY</p>
                </div>

                <div class="case_card_header">
                  <p>開示判決</p>
                  <h3>対BIGLOBEにおいてu Holdings側が勝訴の判決をいただいた</h3>
                  <h4>Date: 2024/07/06</h4>
                </div>

                <div class="case_card_showncontent">
                  {% comment %} inserting background image {% endcomment %}
                </div>

                <div class="case_card_hiddencontent">
                  <div class="case_card_paragraph">
                    <p>
                      In a serene forest, the bright sun filtered through the
                      dense foliage, casting playful shadows on the vibrant
                      green moss. Birds chirped melodiously while a gentle
                      breeze whispered through the trees.
                    </p>
                  </div>
                  <div class="case_card_content_button">
                    <a href="#"><h3>EXPAND</h3></a>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/rad_card">
                <div class="case_card_genre">
                  <p>CASE STUDY</p>
                </div>

                <div class="case_card_header">
                  <p>開示判決</p>
                  <h3>対BIGLOBEにおいてu Holdings側が勝訴の判決をいただいた</h3>
                  <h4>Date: 2024/07/06</h4>
                </div>

                <div class="case_card_showncontent">
                  {% comment %} inserting background image {% endcomment %}
                </div>

                <div class="case_card_hiddencontent">
                  <div class="case_card_paragraph">
                    <p>
                      In a serene forest, the bright sun filtered through the
                      dense foliage, casting playful shadows on the vibrant
                      green moss. Birds chirped melodiously while a gentle
                      breeze whispered through the trees.
                    </p>
                  </div>
                  <div class="case_card_content_button">
                    <a href="#"><h3>EXPAND</h3></a>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/rad_card">
                <div class="case_card_genre">
                  <p>CASE STUDY</p>
                </div>

                <div class="case_card_header">
                  <p>開示判決</p>
                  <h3>対BIGLOBEにおいてu Holdings側が勝訴の判決をいただいた</h3>
                  <h4>Date: 2024/07/06</h4>
                </div>

                <div class="case_card_showncontent">
                  {% comment %} inserting background image {% endcomment %}
                </div>

                <div class="case_card_hiddencontent">
                  <div class="case_card_paragraph">
                    <p>
                      In a serene forest, the bright sun filtered through the
                      dense foliage, casting playful shadows on the vibrant
                      green moss. Birds chirped melodiously while a gentle
                      breeze whispered through the trees.
                    </p>
                  </div>
                  <div class="case_card_content_button">
                    <a href="#"><h3>EXPAND</h3></a>
                  </div>
                </div>
              </a>
            </li>

            <li>
              <a href="/rad_card">
                <div class="case_card_genre">
                  <p>CASE STUDY</p>
                </div>

                <div class="case_card_header">
                  <p>開示判決</p>
                  <h3>対BIGLOBEにおいてu Holdings側が勝訴の判決をいただいた</h3>
                  <h4>Date: 2024/07/06</h4>
                </div>

                <div class="case_card_showncontent">
                  {% comment %} inserting background image {% endcomment %}
                </div>

                <div class="case_card_hiddencontent">
                  <div class="case_card_paragraph">
                    <p>
                      In a serene forest, the bright sun filtered through the
                      dense foliage, casting playful shadows on the vibrant
                      green moss. Birds chirped melodiously while a gentle
                      breeze whispered through the trees.
                    </p>
                  </div>
                  <div class="case_card_content_button">
                    <a href="#"><h3>EXPAND</h3></a>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock content %}
