{% extends 'base.html' %}{% load static %} {% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/e325191aeb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/case_study.css' %}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <title>Case studies</title>
  </head>

  <body>
    <div class="case_study_container">
      <div class="case_study_header">
        <p>開示判決一覧</p>
        <h3>Case Study</h3>
      </div>

      <div class="case_card_container">
        <div class="case_card_sort">
          <select>
            <option id="case_all">全て</option>
            <option id="case_2024">2024年</option>
            <option id="case_2023">2023年</option>
            <option id="case_2022">2022年</option>
          </select>
        </div>

        <div class="case_cards">
          <div class="rad_card_container">
            {% for content in rad_card %}
            <div
              class="rad_card"
              style="background-image: url('{{ content.thumbnail_image.url }}');"
            >
              <a href="{% url 'radCard_detail' content.pk %}">
                <div class="rad_card_genre">
                  <p>{{ content.genres }}</p>
                </div>
                <div class="rad_card_header">
                  <p>{{ content.header_main }}</p>
                </div>
                <div class="rad_card_hiddencontent">
                  <div class="rad_card_paragraph">
                    <p>{{ content.description }}</p>
                  </div>
                  <div class="rad_card_content_button">
                    <a href="{% url 'radCard_detail' content.pk %}"
                      ><h3>EXPAND</h3></a
                    >
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

{% endblock content %}
