{% extends "base.html" %} {% block content %} {% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script
    src="https://kit.fontawesome.com/e325191aeb.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{% static 'css/company_index.css' %}" />
  <title></title>
</head>

<body>
  <div class="company_index_container">
    <div class="company_index_main_container">
      <div class="company_index_mainImage">
        <img src="{% static "images/decoration/company_index_image.png" %}"
        alt="main image about us">
      </div>

      <dir class="company_index_header">
        <h3>知的財産権を守るために全力で取り組んでいます</h3>
        <p>
          私たちは、あなたの創造性と成果を確固たるものとし、安心して活動できる環境を提供します。
          最新の技術と専門知識を駆使し、あなたの貴重な著作物を保護し、サポートします。これにより、自信を持って創作活動に専念できます。
        </p>
        <div class="company_index_heder_btn">
          <a href="">著作物の守り方</a>
        </div>
      </dir>
    </div>

    <div class="company_index_accordion_container">
      <div class="accordion_header">
        <h3>著作者の権利を守り明るい未来を</h3>
        <p>
          私たちの社会において、著作権の保護は非常に重要な役割を果たしています。
          著作物は、創造的な努力と知識の結晶であり、その価値を正当に認め、尊重することが必要不可欠です。
          著作者の権利を守ることで、創造的な活動を奨励し、次世代のイノベーションを促進することができます。
        </p>
      </div>

      <div class="accordion_content">
        <ul class="accordion_list">
          <li>
            <div class="accordion_shown">
              <p>著作権</p>
              <button class="read-more-btn" onclick="toggleContent(this)">
                <i class="fa-solid fa-chevron-down"></i>
              </button>
            </div>

            <div class="hidden-content">
              <div class="accordion_hidden_text">
                <p>
                  著作権に関する法律は、創作者の権利を保護し、創造的な活動を促進するために設けられています。著作権法は、文学、音楽、美術、映画などさまざまな分野における作品の権利を定め、その利用や保護について規定しています。創作活動においては、著作者の権利を尊重し、適切な使用許諾を得ることが重要です。著作権は、社会全体にとって文化的な豊かさを支える重要な役割を果たしています。
                </p>

                <a href="#"
                  >詳しく&nbsp;<i class="fa-solid fa-chevron-right"></i
                ></a>
              </div>

              <div class="accordion_hidden_image">
                <img src="{% static "" %}" alt="">
              </div>
            </div>
          </li>

          <li>
            <div class="accordion_shown">
              <p>AI</p>
              <button class="read-more-btn" onclick="toggleContent(this)">
                <i class="fa-solid fa-chevron-down"></i>
              </button>
            </div>

            <div class="hidden-content">
              <div class="accordion_hidden_text">
                <p>
                  人工知能（AI）は、機械が人間の知的能力を模倣する技術を指します。AIは様々な分野で活用され、自動化、予測分析、言語処理などの能力を持ち、進化を続けています。AIの発展により、医療、交通、金融などの分野で革新が期待されており、倫理的な問題や社会的影響も議論されています。
                </p>

                <a href="#"
                  >詳しく&nbsp;<i class="fa-solid fa-chevron-right"></i
                ></a>
              </div>

              <div class="accordion_hidden_image">
                <img src="{% static "" %}" alt="">
              </div>
            </div>
          </li>

          <li>
            <div class="accordion_shown">
              <p>クリエイティブ</p>
              <button class="read-more-btn" onclick="toggleContent(this)">
                <i class="fa-solid fa-chevron-down"></i>
              </button>
            </div>

            <div class="hidden-content">
              <div class="accordion_hidden_text">
                <p>
                  クリエイティブな活動は、芸術やデザイン、文学などの創造的な表現を指します。クリエイティブなプロセスは、アイデアの発想から具現化までの過程であり、独創性や感性が重要な要素です。デジタル技術の発展により、クリエイティブな業界は新たな形で成長しており、映像制作やデジタルアートなどが注目されています。クリエイティブな活動は、文化や社会に多様な影響を与え、創造性を育む重要な役割を果たしています。
                </p>

                <a href="#"
                  >詳しく&nbsp;<i class="fa-solid fa-chevron-right"></i
                ></a>
              </div>

              <div class="accordion_hidden_image">
                <img src="{% static "" %}" alt="">
              </div>
            </div>
          </li>

          <li>
            <div class="accordion_shown">
              <p>テクノロジー</p>
              <button class="read-more-btn" onclick="toggleContent(this)">
                <i class="fa-solid fa-chevron-down"></i>
              </button>
            </div>

            <div class="hidden-content">
              <div class="accordion_hidden_text">
                <p>
                  テクノロジーは、科学的知識を応用して道具やシステムを設計し、問題を解決するための手段です。現代社会では、情報技術（IT）や通信技術、ロボット工学などのテクノロジーが急速に進化し、生活や産業に革新をもたらしています。人工知能（AI）やデータサイエンス、クラウドコンピューティングなどのテクノロジーは、ビジネスや医療、教育など多岐にわたる分野で利用されています。テクノロジーの進歩は、社会の発展に寄与し、持続可能な未来の実現に向けた重要な役割を果たしています。
                </p>

                <a href="#"
                  >詳しく&nbsp;<i class="fa-solid fa-chevron-right"></i
                ></a>
              </div>

              <div class="accordion_hidden_image">
                <img src="{% static "" %}" alt="">
              </div>
            </div>
          </li>

          <li>
            <div class="accordion_shown">
              <p>ビジネスパートナーシップ</p>
              <button class="read-more-btn" onclick="toggleContent(this)">
                <i class="fa-solid fa-chevron-down"></i>
              </button>
            </div>

            <div class="hidden-content">
              <div class="accordion_hidden_text">
                <p>
                  ビジネスパートナーシップは、互いの強みを活かして市場展開や新製品開発などに取り組むことがあります。信頼関係や共通のビジョンを築くことが重要であり、長期的なパートナーシップを築くことで持続的な成長を目指します。さまざまな業界や地域でのビジネスパートナーシップは、企業の競争力強化や市場拡大に貢献します。
                </p>

                <a href="#"
                  >詳しく&nbsp;<i class="fa-solid fa-chevron-right"></i
                ></a>
              </div>

              <div class="accordion_hidden_image">
                <img src="{% static "" %}" alt="">
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="company_index_quote_container">
      <div class="company_index_quote_header">
        <h3>ビジョンと経験をもってクライアントをサポートする</h3>
      </div>

      <div class="company_index_quote_content">
        <img src="{% static "images/decoration/Image_sample_ceo.jpeg" %}"
        alt="Mr.Tsuji's image would be nice here'">
        <div class="company_index_quote_text">
          <h3>
            "すべての戦略は技術へと導きます。—企業はデータ、AI、新しい働き方を活用し、
            著作物や著作権に関する新たなアプローチを取り入れ、弾力性を構築し、
            新たな成長の道筋を見つけるために企業のすべての部分を再発明する必要があります。"
          </h3>

          <p>辻&nbsp;州平&nbsp;/&nbsp;CEO&amp;Founder</p>
        </div>
      </div>
    </div>

    <div class="industry_of_one_container">
      <div class="industry_of_one_main">
        <h3>Unity&nbsp;in&nbsp;Uniqueness</h3>
        <p>
          我々は定性と定量、論理と直感を大事にしたBussiness, Creative,
          Technologyという3つの軸でクライアントを成功へ導きます
        </p>
      </div>

      <div class="industry_of_one_content">
        <div class="CompanyQuote_container">
          <div id="CompanyQuote">
            <h3 class="quote_header">business&nbsp;&amp;&nbsp;Solutions</h3>
          </div>
          <div id="CompanyQuote">
            <h3 class="quote_header">Creative</h3>
          </div>
          <div id="CompanyQuote">
            <h3 class="quote_header">Technology&nbsp;&amp;&nbsp;System</h3>
          </div>
        </div>

        <div class="vertical_content_container">
          <div class="vertical_content">
            <p>
              クライアントに寄り添い、前提や過去の視点にとらわれない踏み込んだスタイルのビジネス開発。
            </p>
            <img src="{% static "images/decoration/about_business.jpeg" %}"
            alt="">
          </div>
          <div class="vertical_content">
            <p>
              プロジェクトの短期的なKPIと長期的なKPIの両社を設定し管理し達成していきます。
            </p>
            <img src="{% static "images/decoration/about_creative.jpeg" %}"
            alt="">
          </div>
          <div class="vertical_content">
            <p>
              あらゆる 範囲のマーケティングソリューションを提供していきます。
            </p>
            <img src="{% static "images/decoration/about_tech.jpeg" %}" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="company_index_stats_container">
      <div class="stats_card">
        <h4>742K</h4>
        <p>日本全国のクライアント</p>
      </div>

      <div class="stats_card">
        <h4>9,000+</h4>
        <p>現在進行中の案件</p>
      </div>

      <div class="stats_card">
        <h4>350+</h4>
        <p>我々のパートナー</p>
      </div>
    </div>

    <div class="company_index_office_container">
      <h3>Our offices</h3>

      <div class="office_card_container">
        <div class="office_card">
          <a href="#"
            ><img src="{% static "images/decoration/Office_Sapporo.jpg" %}"
            alt="">
            <h4>Sapporo,</h4></a
          >
        </div>

        <div class="office_card">
          <a href="#">
            <img src="{% static "images/decoration/Office_Tokyo.jpg" %}" alt="">
            <h4>Tokyo</h4>
          </a>
        </div>
      </div>
    </div>

    <div class="whyUs_cards_container">
      <div class="whyUs_card" style="background-color: #b2a476">
        <div class="whyUs_card_header">
          <h4>業界トップの実績</h4>
        </div>
        <div class="whyUs_card_hidden">
          <p>
            u&nbsp;Holdingsは、著作物の違法ダウンロードやアップロードの取り締まりにおいて、業界No.1の勝訴実績を誇ります。
            私たちは、著作権保護のために毎月xxx件の摘発を行い、全ての案件で勝訴判決を獲得しています。
            これにより、著作権侵害に対する強力な抑止力を提供し、クリエイターの権利を守るための信頼できるパートナーとしての地位を確立しています。
          </p>
        </div>
      </div>

      <div class="whyUs_card" style="background-color: #6a9fb5">
        <div class="whyUs_card_header">
          <h4>不透明性の撤廃</h4>
        </div>
        <div class="whyUs_card_hidden">
          <p>
            「不透明性の撤廃」を重視し、クライアントに対する情報提供とコミュニケーションを徹底しています。
            これにより、クライアントは常に最新の進捗状況や成果を把握でき、安心して私たちのサービスを利用することができます。
            透明性の高いプロセスとオープンな対話を通じて、クライアントとの信頼関係を築き、長期的なパートナーシップを実現しています。
          </p>
        </div>
      </div>

      <div class="whyUs_card" style="background-color: #8aa65b">
        <div class="whyUs_card_header">
          <h4>市場におけるイノベーションの推進</h4>
        </div>
        <div class="whyUs_card_hidden">
          <p>
            当社は市場におけるイノベーションの推進を使命とし、常に新しいアイデアと技術を探求し、顧客のニーズに応えることを重視しています。私たちは革新を通じて、業界の常識を超えた価値を提供し、持続可能な成長を実現することを目指しています。
          </p>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/script.js' %}"></script>
</body>

{% endblock content %}
