{% extends 'base.html' %}{% load static %} {% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/e325191aeb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <title>Home</title>
  </head>

  <body>
    <div class="home-container">
      <div class="first-content">
        <div class="background-animation">
          <div class="wave"></div>
          <div class="wave"></div>
          <div class="wave"></div>
        </div>
        <div class="first-header">
          <h3 class="typing-animation" id="wannatext"></h3>
        </div>

        <div class="first-contact">
          <div class="home-paragraph">
            <p class="fade-in" id="text">
              当社はあなたの貴重な著作物の権利を確実に守ります。あなたの作品は大切な資産です。
              我々は著作権を尊重し、不正な使用や盗用から守るため、最新の法律やテクノロジーを駆使して取り組みます。
              あなたの創造性と独自性を大切にし、安心してご活動いただけるよう、我々が全力でサポートいたします。
            </p>

            <div class="home_paragraph_link">
              <a href="/contact"
                ><p class="fade-in" id="text">
                  お問い合わせ&nbsp;<i class="fa-solid fa-arrow-right"></i></p
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="CopyRights_highlightBar_container">
        <div class="CopyRights_highlightBar">
          <div class="highlight_content">
            <p
              class="highlight_text"
              style="font-family: poppins; font-weight: bold"
            >
              TRENDING
              <br />
              INSIGHTS
            </p>
          </div>
          <div class="highlight_content">
            <p class="highlight_number">1&nbsp;</p>
            <p class="highlight_text"><a href="#">著作権侵害</a></p>
          </div>
          <div class="highlight_content">
            <p class="highlight_number">2&nbsp;</p>
            <p class="highlight_text"><a href="#">著作物の不正使用</a></p>
          </div>
          <div class="highlight_content">
            <p class="highlight_number">3&nbsp;</p>
            <p class="highlight_text"><a href="#">著作物の管理</a></p>
          </div>
          <div class="highlight_content">
            <p class="highlight_number">4&nbsp;</p>
            <p class="highlight_text"><a href="#">著作物の評価</a></p>
          </div>
        </div>
      </div>

      {% comment %} This structure has an unexpected closing statement? If I
      want to use prettier, remove here and save the script {% endcomment %}
      <div class="rad_content">
        <div class="rad_card_container">
          {% for card in rad_card %}
          <div
            class="rad_card"
            style="background-image: url('{{ card.thumbnail_image.url }}');"
          >
            <a href="{% url 'radCard_detail' card.pk %}">
              <div class="rad_card_genre">
                <p>{{ card.genres }}</p>
              </div>
              <div class="rad_card_header">
                <p>{{ card.header_main }}</p>
              </div>
              <div class="rad_card_hiddencontent">
                <div class="rad_card_paragraph">
                  <p>{{ card.description }}</p>
                </div>
                <div class="rad_card_content_button">
                  <a href="{% url 'radCard_detail' card.pk %}"
                    ><h3>EXPAND</h3></a
                  >
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% comment %} till here {% endcomment %}

      <div class="about-strike3">
        <div class="strike3-header">
          <h3 class="fade-in" id="text">
            海賊版流通による<span style="color: red">被害</span>
          </h3>

          <p>
            国内での海賊版サイトによる被害額だけで<span style="">500億円</span
            >を超えており漫画以外の作品においても、その被害は同様であると予測される。
            漫画村のアクセス数は<span>月間1億回</span>にものぼり、被害額は<span
              >約3,200億円</span
            >
            と言われている。
          </p>
        </div>

        <div class="slider">
          <div class="slider-container">
            <div class="slide">
              <div class="strike3-image">
                <img
                  src="{% static 'images/decoration/strike3Data2.png' %}"
                  alt="about strike3"
                />
              </div>
              <div class="strike3Image-paragraph">
                <p>
                  引用元: 出版広報センターより&nbsp;「深刻な海賊版の被害」
                  <br />
                  <a href="https://shuppankoho.jp/damage/"
                    >https://shuppankoho.jp/damage/</a
                  >
                </p>
              </div>
            </div>

            <div class="slide">
              <div class="strike3-image">
                <img
                  src="{% static 'images/decoration/strike3Data1.png' %}"
                  alt="about strike3"
                />
              </div>
              <div class="strike3Image-paragraph">
                <p>
                  引用元:
                  出版広報センターより&nbsp;「説明資料&nbsp;海賊版サイトによる被害と法整備の必要性について」
                  <br />
                  <a
                    href="https://www.bunka.go.jp/seisaku/bunkashingikai/kondankaito/shingaikontentsu/01/pdf/r1422992_02.pdf"
                    >https://www.bunka.go.jp/seisaku/bunkashingikai/kondankaito/shingaikontentsu/01/pdf/r1422992_02.pdf</a
                  >
                </p>
              </div>
            </div>
          </div>
          <button class="prev"><i class="fa-solid fa-chevron-left"></i></button>
          <button class="next">
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>

        <div class="strike3-footer">
          <p class="fade-in" id="text">
            海賊版動画に関しても同様の被害が予測され
            撲滅・被害請求に伴う動きを進め、<span>抑止力を生み出す必要</span>がある
          </p>
        </div>
      </div>

      <div class="third-content">
        <div class="third-header">
          <p class="fade-in" id="text">Why Us</p>
          <h3 class="fade-in" id="text">
            <span>u&nbsp;Holdings&nbsp;</span>が選ばれる<span
              id="whyUs_subHeader"
              >3</span
            >つの理由
          </h3>
        </div>

        <div class="whyUs_cards_container">
          <div class="whyUs_card" style="background-color: #b2a476">
            <div class="whyUs_card_header">
              <h4>業界トップの実績</h4>
            </div>
            <div class="whyUs_card_hidden">
              <p>
                u&nbsp;Holdingsは、著作物の違法ダウンロードやアップロードの取り締まりにおいて、業界No.1の勝訴実績を誇ります。
                私たちは、著作権保護のために毎月xxx件の摘発を行い、全ての案件で勝訴判決を獲得しています。
                これにより、著作権侵害に対する強力な抑止力を提供し、クリエイターの権利を守るための信頼できるパートナーとしての地位を確立しています。
              </p>
            </div>
          </div>

          <div class="whyUs_card" style="background-color: #6a9fb5">
            <div class="whyUs_card_header">
              <h4>不透明性の撤廃</h4>
            </div>
            <div class="whyUs_card_hidden">
              <p>
                「不透明性の撤廃」を重視し、クライアントに対する情報提供とコミュニケーションを徹底しています。
                これにより、クライアントは常に最新の進捗状況や成果を把握でき、安心して私たちのサービスを利用することができます。
                透明性の高いプロセスとオープンな対話を通じて、クライアントとの信頼関係を築き、長期的なパートナーシップを実現しています。
              </p>
            </div>
          </div>

          <div
            class="whyUs_card"
            style="background-color: #8aa65b; margin-bottom: 200px"
          >
            <div class="whyUs_card_header">
              <h4>市場におけるイノベーションの推進</h4>
            </div>
            <div class="whyUs_card_hidden">
              <p>
                当社は市場におけるイノベーションの推進を使命とし、常に新しいアイデアと技術を探求し、顧客のニーズに応えることを重視しています。私たちは革新を通じて、業界の常識を超えた価値を提供し、持続可能な成長を実現することを目指しています。
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="home_career">
        <div class="homeCareer_image">
          <img
            id="main_image"
            src="{% static 'images/decoration/homeCareer.jpeg' %}"
            alt="career image"
          />
          <img
            id="sub_image"
            src="{% static 'images/decoration/homeCareer_calligraph.png' %}"
            alt=""
          />
        </div>

        <div class="homeCareer_text">
          <h4>Career</h4>
          <h3><span>u&nbsp;Holdings</span>で一緒に働きませんか？</h3>
          <h5>
            あなたが輝く時です。
            あなたのスキル、好奇心、そして革新的なアイデアを駆使して、著作物を保護し、未来を創りましょう。
          </h5>
          <a href="/contact"
            >Join us&nbsp;<i class="fa-solid fa-arrow-right"></i
          ></a>
        </div>
      </div>

      <div class="home-news">
        <div class="news-header">
          <h3 class="fade-in" id="text">お知らせ</h3>
          <p class="fade-in" id="text">News</p>
        </div>

        <div class="news-content">
          {% for news_content in news %}
          <div class="news-card">
            <a href="{% url 'radCard_detail' news_content.pk %}">
              <div class="news_date">
                <p>{{ news_content.time_stamp }}</p>
              </div>
              <div class="news_content">
                <p>{{ news_content.header_main }}</p>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>

        <div class="news_controls">
          <div class="controls">
            <button id="play-pause">
              <i class="fa-solid fa-pause"></i>
              <!-- Initially, display the pause icon -->
            </button>
          </div>

          <div class="indicators">
            <span class="indicator"></span>
            <span class="indicator"></span>
            <span class="indicator"></span>
            <span class="indicator"></span>
          </div>
        </div>
      </div>
    </div>

    {% comment %}
    <div class="chatbot-btn">
      <button onclick="activateChatBot()">
        <i class="fa-regular fa-comment-dots"></i>&nbsp;Help
      </button>
    </div>

    <div class="chatbot-section">
      <h3>hello world</h3>
      <p>チャットBOT導入はココ</p>
      <p>
        Not that important yet. wanna use ChatGPT when deploying it. Because it
        is super inteligent as me.
      </p>
    </div>
    {% endcomment %}

    <div id="backToTopBtn" class="back-to-top-button" onclick="scrollToTop()">
      <h3>Back to Top</h3>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>

{% endblock content %}
