{% extends "base.html" %} {% block content %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  </head>

  <body>
    <div class="login_container">
      <div class="login_header">
        <h3>LogIn</h3>

        <p>
          自身のアカウントにログインして、u&nbsp;Holdingsの最新情報を手に入れよう
        </p>
      </div>

      <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Login</button>
        <a href="{% url 'logout' %}">Logout</a>
      </form>
      {% if messages %} {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %} {% endif %}
    </div>
  </body>
</html>

{% endblock content %}
