{% extends "base.html" %} {% block content %} {% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script
    src="https://kit.fontawesome.com/e325191aeb.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{% static 'css/news.css' %}" />
  <title></title>
</head>

<body>
  <div class="news-container">
    <div class="news-header">
      <p>NEWS</p>
      <h3>お知らせ</h3>
    </div>

    <div class="news-content">
      {% for news_content in news %}
      <div class="news-card">
        <div class="newsCard-header">
          <a href="{% url 'radCard_detail' news_content.pk %}"
            >{{ news_content.time_stamp }} - {{ news_content.header_main }}</a
          >
          <button class="read-more-btn" onclick="toggleContent(this)">
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
        <p class="hidden-content">{{ news_content.paragraph1 }}</p>
      </div>
      {% endfor %}
    </div>

    <div class="news-pages">
      <div class="news-button">
        <button>
          <p><i class="fa-solid fa-chevron-left"></i></p>
        </button>
        <button><p>1</p></button>
        <button>
          <p><i class="fa-solid fa-chevron-right"></i></p>
        </button>
      </div>
    </div>
  </div>
</body>

{% endblock content %}
