{% extends "base.html" %} {% block content %} {% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script
    src="https://kit.fontawesome.com/e325191aeb.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{% static 'css/PPolicy.css' %}" />
  <title></title>
</head>

<body>
  <div class="PPolicy-container">
    <div class="policy-header">
      <h3>プライバシーポリシー</h3>
      <p>
        当社は、お客様の個人情報を保護することに細心の注意を払っています。
        <br />
        お客様のプライバシーを尊重し、以下に当社のプライバシーポリシーを記載しています。
      </p>

      <p>
        このポリシーは予告なく変更される場合があります。最新の情報は常にご確認いただきますようお願いいたします。
      </p>

      <h4>更新日| 01月20日 2024年</h4>
    </div>

    <div class="policy-main">
      <div class="policy-content">
        <h3>1.&nbsp;情報の収集</h3>
        <p>
          当社は、お客様に対して最高水準のサービスを提供するために、お客様の個人情報を適切に収集いたします。お客様が当社のサービスを利用する際には、お名前、住所、電話番号、メールアドレスなどの個人情報をご提供いただくことがあります。
          これらの情報は、お客様の同意を得た範囲内で、主に以下の目的のために収集されます。
          まず第一に、サービス提供自体に必要な情報として、お客様のアカウント管理、商品の発送、請求書の送付など、直接的なサービス提供に関連する目的に利用されます。
          これにより、お客様にスムーズで効率的なサービスを提供することが可能となります。
          また、お客様へのより適切な情報提供や特定のサービスへのご案内、新商品やキャンペーンのご案内など、お客様の利便性向上を図るためにも個人情報が活用されます。
          お客様のニーズに合わせたカスタマイズされたサービス提供を実現するため、当社は適切な情報の収集と分析を行います。
          個人情報の収集に際しては、適切なセキュリティ対策を講じ、不正アクセスや情報漏えいなどからお客様の個人情報を保護するための万全な対策を実施しています。
          お客様のプライバシーを尊重し、安心してご利用いただけるよう、当社は常に最善を尽くしてまいります。
        </p>
      </div>

      <div class="policy-content">
        <h3>2.&nbsp;利用目的</h3>
        <p>
          収集した個人情報は、厳格なプライバシー保護の観点から、明示した利用目的以外では一切使用いたしません。お客様が提供いただいた情報は、主にサービス提供や品質向上、
          お客様への連絡に利用されます。具体的には、お客様のアカウント管理、商品の発送、サービスの改善、お問い合わせへの対応など、お客様により良いサービスを提供するために必要な範囲で使用いたします。
          明示した利用目的においても、お客様に不都合や不安を感じさせないよう、最大限の注意と慎重さをもって情報を取り扱います。
          個人情報を適切かつ合法的な手段で処理し、お客様のプライバシーを確実に保護するために、安全対策やアクセス制御の実施など、適切な管理策を講じます。
          当社ではお客様からの信頼を大切にし、お客様にとって安心できる環境を提供することが最優先事項です。
          個人情報の適切な取り扱いと利用目的の透明性を確保するため、プライバシーポリシーを定期的に見直し、必要に応じて更新いたします。
          お客様の大切な情報を守ることは当社の責務であり、お客様に信頼され続けるために全力で努めてまいります。
        </p>
      </div>

      <div class="policy-content">
        <h3>3.&nbsp;セキュリティ</h3>
        <p>
          当社は、お客様の個人情報を適切に保護するために、不正アクセスや情報漏えいなどのリスクに対して厳重な対策を講じております。
          お客様が提供いただいた個人情報は、当社の信頼性を維持し、プライバシーを確実に守ることを最優先と考えております。
          具体的な対策としては、技術的なセキュリティ対策や物理的なアクセス制御など、最新かつ効果的な手段を使用しております。
          システムへの不正な侵入を防ぐために、ファイアウォールや侵入検知システムなどを導入し、また、データへのアクセスを適切に管理するためのアクセス制限を設けています。
          社内においても、従業員への教育と意識向上を行い、個人情報の取り扱いに関する厳格なルールとガイドラインを策定しています。
          また、システムやプロセスの監視を徹底し、異常が検知された場合には速やかに対処いたします。
          これらの対策を通じて、お客様の個人情報が安全に管理され、不正な利用や漏洩のリスクが最小限に抑えられるようにしています。
          当社はお客様の信頼を築くために、プライバシー保護に最大限の努力を払ってまいります。
        </p>
      </div>

      <div class="policy-content">
        <h3>4.&nbsp;お問い合わせ</h3>
        <p>
          プライバシーポリシーに関するご質問やお問い合わせがございましたら、どうぞお気軽にご連絡ください。
          お客様のご意見や疑問に対して誠意をもってお答えし、より安心してご利用いただけるよう努めてまいります。
          お問い合わせいただく際は、お名前やご連絡先など必要な情報を明記いただければ幸いです。
          プライバシーに関わる重要な事項についてご理解いただくためにも、いつでもお気軽にお知らせいただければと考えております。
        </p>
      </div>
    </div>
  </div>
</body>

{% endblock content %}
