{% extends 'base.html' %}{% load static %} {% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/e325191aeb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/serviceDetail.css' %}" />
    <title>Service1</title>
  </head>

  <body>
    <div class="serviceDetail-container">
      <div
        class="serviceDetail-header"
        style="
          background-image: url('{% static 'images/decoration/law3.jpg' %}');
        "
      >
        <div class="serviceDetail-text">
          <h3 class="ml11">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">協力関係の構築</span>
            </span>
          </h3>

          <p class="ml2">インターネットプロバイダーや法執行機関と協力</p>
        </div>
      </div>

      <div class="serviceDetail-content">
        <div class="serviceDetail-contentHeader">
          <p>01</p>
          <h3>インターネットプロバイダーとの連携強化</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/serviceDetail_7.jpeg" %}"
          alt="office image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            違法ダウンロードの防止には、インターネットプロバイダー（ISP）との連携が不可欠です。
            ISPはネットワーク上のトラフィックを監視し、疑わしい活動を特定するための技術とリソースを持っています。
            ISPと著作権保護団体が協力して、違法ダウンロードの発見と対応を迅速に行う体制を構築することで、効果的な抑制策が可能になります。
          </p>
        </div>
      </div>

      <div class="serviceDetail-contentB">
        <div class="serviceDetail-contentHeaderB">
          <p>02</p>
          <h3>法執行機関との協力体制の確立</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/serviceDetail_8.jpeg" %}"
          alt="office image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            法執行機関との連携は、違法ダウンロードの摘発において重要な役割を果たします。
            著作権保護団体やISPと法執行機関が情報を共有し、違法行為に関する証拠を収集・提供することで、迅速な摘発が可能となります。
            また、法執行機関は国際的な協力を通じて、海外で行われる違法活動にも対応できる体制を整えています。
          </p>
        </div>
      </div>

      <div class="serviceDetail-content">
        <div class="serviceDetail-contentHeader">
          <p>03</p>
          <h3>法規制の整備と遵守</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/serviceDetail_9.jpeg" %}"
          alt="office image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            協力関係の構築には、法規制の整備とその遵守が欠かせません。
            ISPや法執行機関が法的枠組みに基づいて行動することで、透明性と公正性が保たれます。
            著作権法や通信法の改正により、協力体制の法的基盤を強化し、違法ダウンロード対策を一層推進します。
            また、各組織が法規制を遵守することで、信頼性の高い協力関係が構築されます。
          </p>
        </div>
      </div>
    </div>

    <div class="other-solution">
      <div class="otherSolution-header">
        <h3>Other SOLUTIONS</h3>
      </div>

      <div class="otherSolution-content">
        <ul>
          <li class="solution-card">
            <a href="/service1">
              <div class="solution-image">
                <img src="{% static "images/decoration/law1.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>著作権の保護</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service2">
              <div class="solution-image">
                <img src="{% static "images/decoration/law2.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>違法ダウンローダーの摘発</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service3">
              <div class="solution-image">
                <img src="{% static "images/decoration/law3.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>協力関係の構築</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service4">
              <div class="solution-image">
                <img src="{% static "images/decoration/law4.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>監視と検知</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>

{% endblock content%}
