{% extends 'base.html' %}{% load static %} {% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/e325191aeb.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{% static 'css/serviceDetail/serviceDetail2.css' %}"
    />
    <title>Service1</title>
  </head>

  <body>
    <div class="serviceDetail-container">
      <div class="serviceDetail-header">
        <div class="serviceDetail-text">
          <h3 class="ml11">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">違法ダウンローダーの摘発</span>
            </span>
          </h3>

          <p class="ml2">違法ダウンローダーの摘発/監視</p>
        </div>
      </div>

      <div class="serviceDetail-content">
        <div class="serviceDetail-contentHeader">
          <p>01</p>
          <h3>Advantage</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/office.jpg" %}" alt="office
          image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            著作物の保護は、クリエイターが創造的な活動を安心して行える環境を提供します。デジタル時代において、不正コピーから知的財産を守るために、
            技術力を駆使した新しい取り組みが求められています。我々は、コンテンツ制作者や企業が創造した価値を損なわず、適切なライセンス管理を通じて公正な報酬を得られるよう、
            先進的な著作権保護サービスを提供しています。これにより、クリエイターたちは安心して創作に没頭し、新しいアイデアを生み出すことが期待されます。
          </p>
        </div>
      </div>

      <div class="serviceDetail-contentB">
        <div class="serviceDetail-contentHeaderB">
          <p>02</p>
          <h3>Advantage</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/office.jpg" %}" alt="office
          image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            イノベーションの促進は、企業が革新的なアイデアを生み出すための環境を整えます。デジタル時代において、テクノロジーの進化により新たなビジネスモデルやサービスが生まれる中、
            企業は柔軟性とスピードを兼ね備えた戦略を求められています。我々は、イノベーションを促進し、企業が競争力を維持するために、最先端のテクノロジーを活用したサポートを提供しています。
            これにより、企業は変化の激しい市場において、成功に向けて積極的に取り組むことができるでしょう。
          </p>
        </div>
      </div>

      <div class="serviceDetail-content">
        <div class="serviceDetail-contentHeader">
          <p>03</p>
          <h3>Advantage</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/office.jpg" %}" alt="office
          image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            データの活用は、ビジネスが効率的な意思決定を行うための重要な要素です。デジタル時代において、ビッグデータや人工知能の発展により、企業は膨大な情報を
            分析し、洞察を得ることが可能となっています。我々は、データの収集から解析、可視化までをトータルにサポートし、企業がデータ駆動型の戦略を構築するのに
            必要なツールやノウハウを提供しています。これにより、企業は市場動向や顧客のニーズに迅速に対応し、持続的な成長を実現できるでしょう。
          </p>
        </div>
      </div>
    </div>

    <div class="other-solution">
      <div class="otherSolution-header">
        <h3>Other SOLUTIONS</h3>
      </div>

      <div class="otherSolution-content">
        <ul>
          <li class="solution-card">
            <a href="/service1">
              <div class="solution-image">
                <img src="{% static "images/decoration/law1.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>著作権の保護</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service2">
              <div class="solution-image">
                <img src="{% static "images/decoration/law2.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>違法ダウンローダーの摘発</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service3">
              <div class="solution-image">
                <img src="{% static "images/decoration/law3.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>協力関係の構築</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service4">
              <div class="solution-image">
                <img src="{% static "images/decoration/law4.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>監視と検知</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>

{% endblock content%}
