{% extends 'base.html' %}{% load static %} {% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/e325191aeb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/serviceDetail.css' %}" />
    <title>Service1</title>
  </head>

  <body>
    <div class="serviceDetail-container">
      <div
        class="serviceDetail-header"
        style="
          background-image: url('{% static 'images/decoration/law4.jpg' %}');
        "
      >
        <div class="serviceDetail-text">
          <h3 class="ml11">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">監視と検知</span>
            </span>
          </h3>

          <p class="ml2">侵害行為を的確に検知</p>
        </div>
      </div>

      <div class="serviceDetail-content">
        <div class="serviceDetail-contentHeader">
          <p>01</p>
          <h3>国際的な監視ネットワークの構築</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/serviceDetail_10.jpeg" %}"
          alt="office image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            侵害行為は国際的な問題であるため、国境を越えた監視ネットワークの構築が進められています。
            各国の監視機関や著作権保護団体が連携し、情報を共有することで、グローバルなスケールでの侵害行為の検知と対策が可能となります。
            このネットワークにより、国際的な侵害行為にも迅速に対応でき、著作物の保護が強化されます。
          </p>
        </div>
      </div>

      <div class="serviceDetail-contentB">
        <div class="serviceDetail-contentHeaderB">
          <p>02</p>
          <h3>リアルタイム監視システムの導入</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/serviceDetail_11.jpeg" %}"
          alt="office image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            リアルタイム監視システムを導入することで、インターネット上の活動を常時監視し、侵害行為をリアルタイムで検知します。
            これにより、違法ダウンロードが発生した瞬間にアラートが発せられ、迅速な対応が可能となります。
            リアルタイム監視は、侵害行為の抑止力としても機能し、著作権保護のための重要な手段となっています。
          </p>
        </div>
      </div>

      <div class="serviceDetail-content">
        <div class="serviceDetail-contentHeader">
          <p>03</p>
          <h3>ビッグデータ解析によるパターン認識</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/serviceDetail_12.jpeg" %}"
          alt="office image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            ビッグデータ解析を活用することで、インターネット上の膨大なトラフィックデータから侵害行為のパターンを特定します。
            データのトレンドを分析し、違法ダウンロードの兆候を早期に発見することで、迅速な対応が可能となります。
            これにより、侵害行為の発生を未然に防ぐことができ、著作物の保護が強化されます。
          </p>
        </div>
      </div>
    </div>

    <div class="other-solution">
      <div class="otherSolution-header">
        <h3>Other SOLUTIONS</h3>
      </div>

      <div class="otherSolution-content">
        <ul>
          <li class="solution-card">
            <a href="/service1">
              <div class="solution-image">
                <img src="{% static "images/decoration/law1.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>著作権の保護</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service2">
              <div class="solution-image">
                <img src="{% static "images/decoration/law2.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>違法ダウンローダーの摘発</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service3">
              <div class="solution-image">
                <img src="{% static "images/decoration/law3.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>協力関係の構築</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service4">
              <div class="solution-image">
                <img src="{% static "images/decoration/law4.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>監視と検知</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>

{% endblock content%}
