{% extends "base.html" %} {% block content %} {% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script
    src="https://kit.fontawesome.com/e325191aeb.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{% static 'css/service.css' %}" />
  <title>Services</title>
</head>

<body>
  <div class="service-container">
    <div class="serviceDetail-headerA">
      <div class="serviceDetail-text">
        <h3>
          <span class="text-wrapper">
            <span class="letters">著作物の保護</span>
          </span>
        </h3>

        <p>
          クリエイターの安心な活動と知的財産の保護を目指し、新しい技術力を活用した取り組み
        </p>

        <p class="more_info">
          <a href="/service1">MORE</a>
        </p>
      </div>
    </div>

    <div class="serviceDetail-headerB">
      <div class="serviceDetail-text">
        <h3>
          <span class="text-wrapper">
            <span class="letters">違法ダウンローダーの摘発</span>
          </span>
        </h3>

        <p>違法ダウンローダーの摘発/監視</p>

        <p class="more_info">
          <a href="/service2">MORE</a>
        </p>
      </div>
    </div>

    <div class="serviceDetail-headerC">
      <div class="serviceDetail-text">
        <h3>
          <span class="text-wrapper">
            <span class="letters">協力関係の構築</span>
          </span>
        </h3>

        <p>インターネットプロバイダーや法執行機関と協力</p>

        <p class="more_info">
          <a href="/service3">MORE</a>
        </p>
      </div>
    </div>

    <div class="serviceDetail-headerD">
      <div class="serviceDetail-text">
        <h3>
          <span class="text-wrapper">
            <span class="letters">監視と検知</span>
          </span>
        </h3>

        <p>侵害行為を的確に検知</p>

        <p class="more_info">
          <a href="/service4">MORE</a>
        </p>
      </div>
    </div>
  </div>

  <div class=""></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>

{% endblock content %}
