{% extends 'base.html' %}{% load static %} {% block content %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/e325191aeb.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'css/serviceDetail.css' %}" />
    <title>Service1</title>
  </head>

  <body>
    <div class="serviceDetail-container">
      <div
        class="serviceDetail-header"
        style="
          background-image: url('{% static 'images/decoration/law1.jpg' %}');
        "
      >
        <div class="serviceDetail-text">
          <h3 class="ml11">
            <span class="text-wrapper">
              <span class="line line1"></span>
              <span class="letters">著作物の保護</span>
            </span>
          </h3>

          <p class="ml2">
            クリエイターの安心な活動と知的財産の保護を目指し、新しい技術力を活用した取り組み
          </p>
        </div>
      </div>

      <div class="serviceDetail-content">
        <div class="serviceDetail-contentHeader">
          <p>01</p>
          <h3>デジタル著作権管理（DRM）の進化</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/serviceDetail_1.jpeg" %}"
          alt="office image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            デジタル著作権管理（DRM）は、クリエイターが自身の作品を安全に配信し、不正なコピーや配布を防ぐための技術です。
            この技術は、デジタルコンテンツのライセンス管理やアクセス制御を通じて、著作権の侵害を防止する役割を果たします。
            最新のDRM技術では、ブロックチェーンを活用して著作物の所有権を確実に証明し、追跡可能な記録を作成することが可能です。
            これにより、デジタルコンテンツの流通履歴が透明化され、不正な使用や改ざんを防ぐことができます。
          </p>

          <p>
            さらに、DRMシステムは複雑な暗号化技術を駆使して、デジタルコンテンツが正規の購入者以外にはアクセスできないようにすることで、コピー防止の効果を高めています。
            これにより、クリエイターは自身の作品がどのように使用されているかをリアルタイムで把握でき、安心して創作活動に専念できます。
            また、DRMの導入により、デジタルマーケットプレイスやストリーミングサービスにおける著作権保護の強化が図られ、クリエイターの収益機会が増大します
          </p>
          <p>
            加えて、DRM技術はライセンスの管理や権利者への適切な報酬分配を自動化することで、著作権管理の効率化を実現します。
            これにより、クリエイターやコンテンツ提供者は複雑な権利処理の手間から解放され、より多くの時間とリソースを創作活動に投入することができます。
            以上のように、最新のDRM技術は、クリエイターの著作物を守りつつ、その創作活動を支援するための重要なツールとなっています。
          </p>
        </div>
      </div>

      <div class="serviceDetail-contentB">
        <div class="serviceDetail-contentHeaderB">
          <p>02</p>
          <h3>AIによる著作権侵害の自動検出</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/serviceDetail_2.jpeg" %}"
          alt="office image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            人工知能（AI）技術の進歩により、著作権侵害の検出がより迅速かつ正確に行えるようになりました。
            AIは、膨大な量のデータを処理し、インターネット上での著作物の不正使用をスキャンする能力を持っています。
            これにより、従来の手動による監視と比較して、はるかに効率的に侵害の可能性があるコンテンツを自動的に特定することができます。
          </p>
          <p>
            AIシステムは、画像認識や自然言語処理などの技術を駆使して、著作権侵害の兆候を検出します。
            例えば、画像認識技術を用いて、違法にアップロードされた画像やビデオを迅速に識別し、適切な措置を取ることができます。
            また、自然言語処理技術を用いて、文章や音声の不正利用を発見することも可能です。
            これにより、様々な形式のコンテンツが包括的に監視され、著作権侵害のリスクが大幅に軽減されます。
          </p>
          <p>
            さらに、AIは継続的に学習し、その検出精度を向上させることができます。
            新しい侵害パターンが出現するたびに、AIはそのパターンを学習し、次回の検出に役立てます。
            この動的な適応能力により、常に最新の侵害手法に対応できるため、クリエイターの知的財産をより効果的に保護することが可能となります。
          </p>
          <p>
            このようにして、AIは侵害の早期発見と迅速な対応を支援します。
            クリエイターは、AIによる監視結果を元に、自身の作品が不正利用されている場合に即座に対処でき、知的財産を効果的に保護することができます。
            また、侵害が発見された際には、証拠を迅速に収集し、法的措置を取るための支援も受けられます。
            AI技術の導入により、クリエイターは安心して創作活動に専念することができる環境が整いつつあります。
          </p>
        </div>
      </div>

      <div class="serviceDetail-content">
        <div class="serviceDetail-contentHeader">
          <p>03</p>
          <h3>著作権登録システムのデジタル化</h3>
        </div>

        <div class="serviceDetail-image">
          <img src="{% static "images/decoration/serviceDetail_3.jpeg" %}"
          alt="office image">
        </div>

        <div class="serviceDetail-contentText">
          <p>
            従来の著作権登録システムは手続きが煩雑で時間がかかることが多かったですが、デジタル技術の導入により大幅に効率化されました。
            従来は、紙ベースの申請書類を準備し、郵送や対面での提出が必要であり、その後の審査や登録も手作業で行われていました。
            このプロセスは非常に時間がかかり、クリエイターにとって大きな負担となっていました。
          </p>
          <p>
            しかし、デジタル技術の導入により、オンラインプラットフォームを通じて著作権を登録することが可能になりました。
            クリエイターは自宅やオフィスからインターネットにアクセスし、必要な情報を入力するだけで簡単に著作権を登録できます。
            このオンラインプラットフォームは、24時間いつでも利用可能であり、申請手続きを迅速に完了することができます。
            さらに、登録後の確認や更新もオンラインで行えるため、手続き全体が非常にスムーズになります。
          </p>
          <p>
            このシステムのデジタル化により、著作物の迅速な保護が可能となり、クリエイターの活動を支援します。
            例えば、新しい楽曲やアート作品を制作した場合、その著作権を即座に登録し、法的保護を受けることができます。
            これにより、クリエイターは自身の作品が無断で使用されるリスクを軽減し、安心して創作活動に専念することができます。
          </p>
          <p>
            さらに、デジタル化されたシステムは、著作権に関する情報の検索やアクセスを容易にします。
            これにより、他のクリエイターや企業が既存の著作物を確認し、無意識の侵害を避けることができます。
            また、著作権の紛争が発生した場合にも、デジタル化された記録を元に迅速かつ正確な対応が可能です。
          </p>
          <p>
            以上のように、著作権登録システムのデジタル化は、クリエイターにとって多くの利点をもたらします。
            手続きの簡略化と迅速化により、クリエイターは自身の作品を効果的に保護し、安心して創作活動に集中することができるようになります。
          </p>
        </div>
      </div>
    </div>

    <div class="service_gallery_container">
      <div class="gallery_holder">
        <div class="gallery_images">
          <img src="{% static "images/decoration/law1.jpg" %}" alt="image1">
          <img src="{% static "images/decoration/law2.jpg" %}" alt="image2">
          <img src="{% static "images/decoration/law3.jpg" %}" alt="image3">
          <img src="{% static "images/decoration/law4.jpg" %}" alt="image4">
        </div>

        <button class="prev_btn">
          <i class="fa-solid fa-chevron-left"></i>
        </button>

        <button class="next_btn">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
    </div>

    <div class="other-solution">
      <div class="otherSolution-header">
        <h3>Other SOLUTIONS</h3>
      </div>

      <div class="otherSolution-content">
        <ul>
          <li class="solution-card">
            <a href="/service1">
              <div class="solution-image">
                <img src="{% static "images/decoration/law1.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>著作権の保護</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service2">
              <div class="solution-image">
                <img src="{% static "images/decoration/law2.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>違法ダウンローダーの摘発</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service3">
              <div class="solution-image">
                <img src="{% static "images/decoration/law3.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>協力関係の構築</p>
              </div>
            </a>
          </li>

          <li class="solution-card">
            <a href="/service4">
              <div class="solution-image">
                <img src="{% static "images/decoration/law4.jpg" %}" alt="">
              </div>
              <div class="solution-text">
                <p>監視と検知</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>

{% endblock content%}
