{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/sign_up.css" />
    <title>sign up</title>
  </head>
  <body>
    <div class="sign_up_form_container">
      <h3>Create your account information</h3>
      <p>アカウントを作成して、u&nbsp;Holdingsの最新情報を手に入れよう</p>
      <div class="sign_up_form">
        <form action="GET">
          {{ form.as_p }}
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>

{% endblock content %}
