{% extends "base.html" %} {% block content %} {% load static %}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <script
    src="https://kit.fontawesome.com/e325191aeb.js"
    crossorigin="anonymous"
  ></script>
  <link rel="stylesheet" href="{% static 'css/term-use.css' %}" />
  <title></title>
</head>

<body>
  <div class="use-terms-container">
    <div class="use-terms-header">
      <h3>利用規約</h3>
      <p>
        この利用規約（以下、「本規約」といいます。）は、お客様（以下、「利用者」といいます。）と当社との間で成立する、当社の提供するサービスの利用に関する条件を定めるものです。
        本規約に同意いただいたうえで、当社のサービスをご利用いただきます。
      </p>

      <p>
        この利用規約は予告なく変更される場合があります。最新の情報は常にご確認いただきますようお願いいたします。
      </p>

      <h4>更新日| 01月20日 2024年</h4>
    </div>

    <div class="use-terms-main">
      <div class="use-terms-content">
        <h3>第1条（利用登録）</h3>
        <p>
          1.
          利用者は、当社の定める方法により、必要事項を正確かつ最新の情報で提供のうえ、利用登録を行うものとします。
        </p>

        <p>
          2.
          利用者は、利用登録後も、提供した情報に変更があった場合は、速やかに当社に対して変更の届け出を行うものとします。
          お客様のプライバシーを尊重し、安心してご利用いただけるよう、当社は常に最善を尽くしてまいります。
        </p>
      </div>

      <div class="use-terms-content">
        <h3>第2条（利用料金）</h3>
        <p>
          1.
          利用者は、当社のサービスを利用する際に、別途定める利用料金を支払うものとします。
        </p>

        <p>
          2.
          利用料金は、当社が定める支払方法により、指定された期日までに支払うものとします。
        </p>
      </div>

      <div class="use-terms-content">
        <h3>第3条（禁止事項）</h3>
        <p>
          1.
          利用者は、当社のサービスの利用に際し、以下の行為を行ってはなりません。
          a. 法令に違反する行為 b. 他者の権利やプライバシーを侵害する行為 c.
          不正アクセスやデータの改ざんを試みる行為 d.
          当社のサービスの運営を妨げる行為
        </p>
      </div>

      <div class="use-terms-content">
        <h3>第4条（免責事項）</h3>
        <p>
          1.
          当社は、当社のサービスに関連して利用者が被った損害について、一切の責任を負いません。
        </p>

        <p>
          2.
          当社は、予告なしにサービスの内容や提供条件を変更する権利を留保します。
        </p>
      </div>

      <div class="use-terms-tail">
        <h3>
          以上が、本利用規約の一部となります。詳細な規定については、当社ウェブサイトでご確認いただくか、お問い合わせいただくことをお勧めします。
        </h3>
      </div>
    </div>
  </div>
</body>

{% endblock content %}
